.contenuto {
  &:hover {
    --colore-bordo: var(--grigio-8);

    .barra-app {
      color: #fff;
      background-color: #3334;
    }

    ion-icon {
      animation-play-state: paused !important;
    }
  }

  .barra-app {
    background-color: color-mix(in srgb, var(--colore-bordo) 50%, #000 50%);
    color: color-mix(in srgb, var(--colore-bordo) 50%, #fff 50%);
    transition: 0.5s var(--easing);
    transition-property: color, background-color, border;

    ion-icon {
      font-size: var(--testo-m);
    }
  }

  .finestra {
    background-color: var(--nero-h1);
    color: var(--colore-bordo);
    transition: 0.5s var(--easing);
    transition-property: color, border;

    ion-icon {
      --dim: 5rem;
      font-size: var(--dim);
      top: calc(50% - var(--dim) / 2);
      left: calc(50% - var(--dim) / 2);
      animation: gira 20s linear infinite;
      color: var(--grigio-8);

      @keyframes gira {
        0% {
          rotate: 0deg;
        }
        100% {
          rotate: 360deg;
        }
      }
    }
  }
}

@media screen and (width < 500px) {
  .contenuto {
    min-width: 5rem;
  }
}
