<h3 class="testo-gradient">Applicazioni Desktop</h3>
<p>
  Sviluppo di applicazioni desktop con C# sia di tipo
  <span class="testo-gradient">Console</span>
  che con interfaccia grafica. Applicazioni GUI create con
  <span class="testo-gradient">Windows Form</span>
  o con
  <span class="testo-gradient">UWP</span>
  per una maggiore compatibilità.
</p>
<div
  class="flex flex-col flex-wrap opacity-80 mt-4 min-w-80 min-h-40 contenuto grow"
>
  <div
    class="flex justify-between items-center self-stretch gap-8 bg-neutral-900 mb-auto p-1 px-2 border-2 border-neutral-800 border-b-0 rounded-t-lg text-neutral-300"
  >
    <span class="flex items-center gap-1">
      <ion-icon name="code" class="text-xl"></ion-icon>
      <span>&nbsp;app.exe</span>
    </span>
    <div class="flex items-center gap-1 controlli">
      <ion-icon
        class="text-xl translate-y-[calc(50%-.25rem)]"
        name="remove"
      ></ion-icon>
      <ion-icon class="text-xl rotate-y-180" name="copy-outline"></ion-icon>
      <ion-icon name="close" class="text-2xl"></ion-icon>
    </div>
  </div>
  <div
    class="relative self-stretch border-2 border-neutral-800 rounded-b-lg finestra grow"
  >
    <ion-icon class="absolute origin-center" name="cog"></ion-icon>
  </div>
</div>
