.contenuto{
    flex-grow: 1;
    min-height: 10rem;
    gap: 0 !important;
    align-items: center;
    min-width: 20rem;
    opacity: .8;

    &:hover{
        --colore-bordo: var(--grigio-8);

        .barra-app{
            color: #FFF;
            background-color: #3334;
        }

        ion-icon{
            animation-play-state: paused !important;
        }
    }

    .barra-app{
        background-color: color-mix(in srgb, var(--colore-bordo) 50%, #000 50%);
        margin-bottom: auto;
        justify-content: space-between;
        align-items: center;
        padding: .25rem;
        border: 2px solid var(--colore-bordo);
        border-radius: .5rem .5rem 0 0;
        gap: 2rem;
        align-self: stretch;
        color: color-mix(in srgb, var(--colore-bordo) 50%, #FFF 50%);
        transition: .5s var(--easing);
        transition-property: color, background-color, border;

        & > span, .controlli{
            align-items: center;
            gap: .25rem;
        }

        ion-icon{
            font-size: 1.25rem;

            &[name="copy-outline"]{
                transform: rotateY(180deg);
            }

            &[name="remove"]{
                transform: translateY(calc(50% - .25rem));
            }
        }
    }

    .finestra{
        flex-grow: 1;
        border: 2px solid var(--colore-bordo);
        border-top: none;
        border-radius: 0 0 .5rem .5rem;
        align-self: stretch;
        position: relative;
        background-color: var(--nero-h1);
        color: var(--colore-bordo);
        transition: .5s var(--easing);
        transition-property: color, border;

        ion-icon{
            --dim: 5rem;
            position: absolute;
            font-size: var(--dim);
            top: calc(50% - var(--dim) / 2);
            left: calc(50% - var(--dim) / 2);
            animation: gira 20s linear infinite;
            transform-origin: center;
            color: var(--grigio-8);

            @keyframes gira {
                0%{ rotate: 0deg }
                100%{ rotate: 360deg }
            }
        }
    }
}

