:host{
    display: flex;
    position: sticky;
    z-index: 11;
    top: 0;
    height: 4rem;
    width: 100%;
    grid-area: 1 / 1;
    transform: translateY(-100%);
    font-weight: 600;
    border-bottom: 2px solid var(--colore-bordo);
    --tempo-animazione: .3s;
    
    background-color: #0003;
    backdrop-filter: blur(1rem);
    filter: blur(2rem);

    animation: mostra-header 1ms var(--easing);
    animation-timeline: scroll(block nearest);
}

button{
    border: none;
    font-size: 1.5rem;
    color: var(--grigio-a);
}

.wrapper{
    max-width: var(--w-contenuto-pagina);
    flex-grow: 1;
    margin-inline: auto;  
    justify-content: center;
    gap: 1rem;
    
    .opzione{
        justify-content: center;
        align-items: center;
        position: relative;
        gap: 1rem;
        cursor: pointer;
        color: var(--grigio-a);
        transition: color var(--tempo-animazione) var(--easing);
        
        &:hover, &.corrente{
            color: #FFF;
        }
        
        a{
            height: 100%;
            align-items: center;
            gap: .5rem;
            font-size: 1rem;
            padding-block: .25rem;
            padding-inline: 1rem;

            ion-icon{
                font-size: 1.25rem;
            }
        }

        .wrapper-cella{
            position: absolute;
            inset: auto 0 0 0;
            
            .cella{
                position: static;
                margin-inline: auto;
                width: 2rem;
                background-color: var(--colore-bordo);
                transform: none;
            }
        }

        &.corrente .cella{
            animation: mostra var(--tempo-animazione);
            opacity: 1;

            @keyframes mostra {
                0%, 100%{
                    opacity: 0;
                }
            }
        }
    }
}

.cella{
    --sinistra: 0;
    position: absolute;
    height: .25rem;
    width: 2rem;
    inset: auto auto 0 var(--sinistra);
    border-radius: 100dvw 100dvw 0 0 ;
    background-color: var(--colore-bordo);
    transition: inset var(--tempo-animazione) var(--easing);
    opacity: 0;

    &.animando{
        opacity: 1;
    }
}

.bordo{
    position: absolute;
    height: 2px;
    background-color: var(--colore-bordo);
    inset: auto 0 0 0;
    overflow: hidden;
}

@keyframes mostra-header {
    35%, 100%{
        transform: translateY(0);
        filter: blur(0);
    }
}