<div class="wrapper flex-row" #wrapper  >
    <div class="opzione flex-row" [class.corrente]="sezione == 'principale'" sezione="principale"  sezione="principale">
        <a (click)='Scrolla("principale")' class="flex-row">
            <ion-icon name="Home"></ion-icon>
            Home
        </a>
        <div class="wrapper-cella">
            <div class="cella"></div>
        </div>
    </div>
    <div class="opzione flex-row" [class.corrente]="sezione == 'conoscenze'" sezione="conoscenze">
        <a (click)='Scrolla("conoscenze")' class="flex-row">
            <ion-icon name="school"></ion-icon>
            Competenze
        </a>
        <div class="wrapper-cella">
            <div class="cella"></div>
        </div>
    </div>
    <div class="opzione flex-row" [class.corrente]="sezione == 'progetti'" sezione="progetti">
        <a (click)='Scrolla("progetti")' class="flex-row">
            <ion-icon name="layers"></ion-icon>
            Progetti
        </a>
        <div class="wrapper-cella">
            <div class="cella"></div>
        </div>
    </div>
    <div class="opzione flex-row" [class.corrente]="sezione == 'contatti'" sezione="contatti">
        <a (click)='Scrolla("contatti")' class="flex-row">
            <ion-icon name="chatbubble"></ion-icon>
            Contatti
        </a>
        <div class="wrapper-cella">
            <div class="cella"></div>
        </div>
    </div>
</div>
<button class="brilla" (click)="CambiaModalitaVisualizzazione()">
    <ion-icon [name]="modalitaVisualizzazione === 'scuro' ? 'sunny' : 'moon'"/>
</button>

<div 
    #cella
    class="cella"
    [class.animando]="animando"
    [style]="{
        '--sinistra': SezioneCorrente(sezione)
    }"
>
</div>
