:host {
  max-width: calc(var(--w-contenuto-pagina) + 2rem);
  width: calc(100% - 2rem);

  grid-area: 1 / 1;

  --tempo-animazione: 0.3s;

  transform: translateY(calc(-100% - 1rem));
  will-change: filter, transform;
  background-color: #0003;
  backdrop-filter: blur(1rem);
  filter: blur(2rem);

  transition: height 0.5s var(--easing);
  animation: mostra-header 1ms var(--easing);
  animation-timeline: scroll(block nearest);

  @keyframes mostra-header {
    30%,
    100% {
      transform: translateY(0);
      filter: blur(0);
    }
  }
}

img {
  height: calc(4rem - 4px);
}

button[toggle],
button[menu] {
  font-size: var(--testo-l);
  color: var(--grigio-a);

  ion-icon {
    font-size: inherit;
  }
}

button[menu] {
  display: none;
  margin-left: auto;
}

.wrapper {
  flex-grow: 1;
  justify-content: center;
  gap: 1rem;

  .opzione {
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    color: var(--grigio-a);
    transition: color var(--tempo-animazione) var(--easing);

    &:hover,
    &.corrente {
      color: #fff;
    }

    &:hover ion-icon[name="chevron-down"] {
      rotate: 180deg;
    }

    button {
      height: 100%;
      align-items: center;
      padding-block: 0.25rem;
      padding-inline: 1rem;
      border: none;
      background-color: #0000;

      ion-icon {
        font-size: var(--testo-m);
        margin-right: 0.5rem;

        &[name="chevron-down"] {
          margin-left: 0.25rem;
          scale: 0.66;
          translate: 0 0.1rem;
          transition: rotate 0.5s var(--easing);
        }
      }
    }

    .wrapper-cella {
      position: absolute;
      inset: auto 0 0 0;

      .cella {
        position: static;
        margin-inline: auto;
        width: 2rem;
        background-color: var(--colore-bordo);
        transform: none;
        transition: 0.5s var(--easing);
        transition-property: translate, scale;
      }
    }

    &.corrente .cella {
      animation: mostra var(--tempo-animazione);
      opacity: 1;

      @keyframes mostra {
        0%,
        100% {
          opacity: 0;
        }
      }
    }
  }
}

.cella {
  --sinistra: 0;
  position: absolute;
  height: 0.25rem;
  width: 2rem;
  inset: auto auto 0 var(--sinistra);
  border-radius: 100dvw 100dvw 0 0;
  background-color: var(--colore-bordo);
  transition: inset var(--tempo-animazione) var(--easing);
  opacity: 0;

  &.animando {
    opacity: 1;
  }
}

.sotto-sezioni {
  justify-content: center;
  padding-inline: 1rem;
  overflow: clip;
  display: grid;
  justify-content: stretch;
  grid-template-rows: auto;

  button {
    gap: 0.5rem;
    flex-grow: 1;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
  }

  .competenze,
  .progetti {
    flex-grow: 1;
    grid-area: 1 / 1;
    padding-bottom: 0;
    transition: all 0.5s var(--easing);
    opacity: 0;
    filter: blur(0.5rem);
    z-index: -1;

    &:not(button) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      row-gap: 0;
      column-gap: 1rem;
    }

    button {
      transition: all 0.5s var(--easing);
      height: 0;
      padding-inline: 1rem;
      border: 0 solid #0000;
      background-color: transparent;

      ion-icon {
        min-width: 1rem;
      }
    }
  }
}

:host:has(.competenze:hover) {
  .competenze:not(.opzione) {
    padding-bottom: 1rem;
    opacity: 1;
    filter: blur(0rem);
    z-index: 1;
    gap: 1rem;

    button {
      height: 3rem !important;
      border: 2px solid var(--colore-bordo);
      background-color: #00000033;
    }
  }

  .cella {
    translate: 0 5rem;
  }
}

:host:has(.progetti:hover) {
  .progetti:not(.opzione) {
    padding-bottom: 1rem;
    opacity: 1;
    filter: blur(0rem);
    z-index: 1;
    gap: 1rem;

    button {
      height: 3rem !important;
      border: 2px solid var(--colore-bordo);
      background-color: #00000033;
    }
  }

  .cella {
    translate: 0 5rem;
    scale: 0 1;
  }
}

.bordo {
  position: absolute;
  height: 2px;
  background-color: var(--colore-bordo);
  inset: auto 0 0 0;
  overflow: hidden;
}

.menu-header {
  display: none;
  width: 100%;
  flex-grow: 1;
  padding: 0 1rem 1rem 1rem;
  position: relative;

  .opzione-menu {
    color: var(--grigio-a);
    transition: color 0.5s var(--easing);
    color: var(--grigio-a);

    &.corrente {
      color: #fff;
    }

    button {
      border: none;
      background-color: #0000;
      padding-inline: 0;

      ion-icon {
        font-size: var(--testo-l);
        margin-right: 1rem;

        &[name="chevron-down"] {
          margin: 0;
          transform: translateY(0.1rem);
          margin-left: 0.5rem;
          scale: 0.66;
        }
      }
    }

    .sotto-menu {
      padding-left: 2rem;
      color: var(--grigio-a);
      max-height: 0;
      transition: max-height 0.5s var(--easing);
      overflow: hidden;

      &.aperto {
        max-height: var(--max-height);
      }

      button {
        transition: color 0.5s var(--easing);

        &:hover {
          color: #fff;
        }
      }
    }
  }

  button[toggle] {
    display: flex;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
  }
}

@media screen and (width < 775px) {
  :host {
    animation: mostra-header-mobile 1ms var(--easing);
    animation-timeline: scroll(block nearest);
    height: 4rem;
  }

  button[menu],
  .menu-header {
    display: flex;
  }

  button[toggle],
  .wrapper,
  .sotto-sezioni,
  .cella {
    display: none;
  }

  :host:has(.menu-header.aperto) {
    height: calc(100dvh - 2rem);
  }

  @keyframes mostra-header-mobile {
    20%,
    100% {
      transform: translateY(0);
      filter: blur(0);
    }
  }
}

// Compatibilità per i browser che non supportano ancora
// animation-timeline
@supports not (animation-timeline: scroll(y nearest)) {
  :host {
    transform: translateY(0);
    filter: blur(0);
  }
}
