:host{
    display: flex;
    position: sticky;
    z-index: 1;
    top: 0;
    height: 4rem;
    width: 100%;
    transform: translateY(-100%);
    border-bottom: 2px solid var(--colore-bordo);
    font-weight: 600;
    
    background-color: #0003;
    backdrop-filter: blur(1rem);
    filter: blur(2rem);

    animation: mostra-header 1ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    animation-timeline: scroll(block nearest);

    .wrapper{
        max-width: var(--w-contenuto-pagina);
        flex-grow: 1;
        margin-inline: auto;  
        justify-content: center;
        gap: 1rem;
        
        .opzione{
            justify-content: center;
            align-items: center;
            gap: 1rem;
            cursor: pointer;
            color: #F1F7FEB5;
            transition: color .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
            
            &:hover{
                color: #FFF;
            }
            
            a{
                height: 100%;
                display: grid;
                place-items: center;
                font-size: .875rem;
                padding-block: .25rem;
                padding-inline: 1rem;
            }
        }
    }
}

@keyframes mostra-header {
    35%, 100%{
        transform: translateY(0);
        filter: blur(0);
    }
}