<div class="tecnologie flex-row scrollbar-stile">
    @if(resettaFor){
        @for (t of progettoSelezionato.tecnologie; track $index) {
            <div class="tecnologia" (click)="ApriLink(t.link)" 
                [style]="{'animation-delay' : $index * .025 + 's'}" 
            >
                <div class="img" [style]="{'--bg' : 'url(' + t.immagine +')'}"></div>
                <div>{{ t.nome }}</div>
            </div>
        }
        <div class="tecnologia controllo">&nbsp;</div>
    }
</div>
<div class="tecnologie flex-row scrollbar-stile transizione">
    @if(progettoPrecedente){
        @for (t of progettoPrecedente.tecnologie; track $index) {
            <div class="tecnologia esci" 
            [style]="{'animation-delay' : $index * .025 + 's'}" 
            >
            <div class="img" [style]="{'--bg' : 'url(' + t.immagine +')'}"></div>
            <div>{{ t.nome }}</div>
        </div>
        } 
        <div class="tecnologia controllo">&nbsp;</div>
    }  
</div>
