:host{
    position: relative;
    z-index: 1;
    padding-inline: 1rem;
    padding-bottom: .5rem;
    border-bottom: 2px solid var(--colore-bordo);
    height: 4.5rem;
}

.tecnologie{
    position: absolute;
    top: 0;    
    opacity: calc(var(--progresso-progetti) / 100);
    margin-bottom: auto;
    margin-block: 1rem .25rem;
    padding-bottom: .25rem;
    overflow-x: scroll; 
    z-index: 1;
    flex-shrink: 1;
    overflow-y: clip;
    min-width: 0;
    width: calc(100% - var(--gap));
    scrollbar-gutter: stable both-edges;

    &::-webkit-scrollbar {
        width: .4rem;
        height: .4rem;
    }

    .img{
        background-image: var(--bg);
        width: 1.25rem;
        aspect-ratio: 1;
        background-size: cover;
    }
    
    .tecnologia{
        flex-shrink: 0;
        display: grid;
        grid-template-columns: auto auto;
        gap: .5rem;
        padding: .5rem;
        margin-right: calc(var(--gap) / 2);
        border: 2px solid var(--colore-bordo);
        border-radius: .5rem;
        transition: .5s cubic-bezier(0.33, 1, 0.68, 1);
        transition-property: border-color, background-color;
        cursor: pointer;

        &:nth-last-child(-n+2) {
            margin: 0;

            &:nth-last-child(2){
                margin-right: .1rem;
            }
        }
          
        
        &:not(.controllo, .esci){
            opacity: 0;
            transform: translateY(100%);
            filter: blur(.05rem);
            animation: entra .5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
            
            @keyframes entra {
                to{
                    opacity: 1;
                    transform: translateY(0);
                    filter: blur(0);
                }
            }
        }

        &:hover{
            border-color: var(--grigio-a);
            background-color: #1a1a1a;
        }

        &.controllo{
            width: 0;
            padding-inline: 0;
            transform: scaleX(0);
            order: 9999;
        }
    }

    &.transizione{                            
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
        z-index: 0;

        .esci{
            animation: esci .5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
            
            @keyframes esci {
                to{
                    opacity: 0;
                    transform: translateY(-100%);
                    filter: blur(.05rem);
                }
            }
        }

    }
}