<h3 class="testo-gradient">Sviluppo SQL</h3>
<div class="flex flex-col">
  <p>
    Sviluppo e gestione di database
    <span class="testo-gradient">SQL</span>
    utilizzando DBMS tra cui
    <span class="testo-gradient">Microsoft SQL Server</span>. Implementazione di
    funzionalità come <span class="testo-gradient">trigger</span> e
    <span class="testo-gradient">stored procedures</span>.
  </p>
</div>
<div class="flex items-center my-auto pt-4 contenuto">
  <div class="relative flex justify-between items-center" sinistra>
    <div
      class="z-1 place-items-center grid p-2 border-2 border-neutral-800 rounded-xl aspect-square logo"
    >
      <ion-icon name="server" class="text-4xl"></ion-icon>
    </div>
    <div
      class="z-1 place-items-center grid p-2 border-2 border-neutral-800 rounded-xl aspect-square translate-x-1/2 logo"
    >
      <ion-icon name="code-slash" class="text-4xl"></ion-icon>
    </div>
  </div>
  <div class="gap-y-1 grid grid-rows-3 grow" destra>
    <div
      class="relative bg-[200%_100%] linea"
      style="grid-area: 1 / 1"
      obliqua
    ></div>
    <div class="relative bg-[200%_100%] linea" style="grid-area: 2 / 1"></div>
    <div
      class="relative bg-[200%_100%] origin-center linea"
      style="grid-area: 3 / 1"
      obliqua
    ></div>

    <div
      class="z-1 place-items-center grid bg-neutral-950 p-2 border-2 border-neutral-800 rounded-xl aspect-square logo"
      style="grid-area: 1 / 2"
    >
      <ion-icon name="layers" class="text-4xl"></ion-icon>
    </div>
    <div
      class="z-1 place-items-center grid bg-neutral-950 p-2 border-2 border-neutral-800 rounded-xl aspect-square logo"
      style="grid-area: 2 / 2"
    >
      <ion-icon name="layers" class="text-4xl"></ion-icon>
    </div>
    <div
      class="z-1 place-items-center grid bg-neutral-950 p-2 border-2 border-neutral-800 rounded-xl aspect-square logo"
      style="grid-area: 3 / 2"
    >
      <ion-icon name="layers" class="text-4xl"></ion-icon>
    </div>
  </div>
</div>
