<h4 class="testo-gradient">Sviluppo SQL</h4>
<div class="flex-col">
    <p>
        Sviluppo e gestione di database 
        <span class="testo-gradient">SQL</span> 
        utilizzando DBMS tra cui 
        <span class="testo-gradient">Microsoft SQL Server</span>. 
        Implementazione di funzionalità come 
        <span class="testo-gradient">trigger</span> e 
        <span class="testo-gradient">stored procedures</span>.
    </p>
</div>
<div class="contenuto flex-row">
    <div class="flex-row" sinistra>
        <div class="logo">
            <ion-icon name="server"></ion-icon>
        </div>
        <div class="logo">
            <ion-icon name="code-slash"></ion-icon>
        </div>
    </div>
    <div destra>
        <div class="linea" style="grid-area: 1 / 1" obliqua></div>
        <div class="linea" style="grid-area: 2 / 1"></div>
        <div class="linea" style="grid-area: 3 / 1" obliqua></div>

        <div class="logo" style="grid-area: 1 / 2">
            <ion-icon name="layers" ></ion-icon>
        </div>
        <div class="logo" style="grid-area: 2 / 2">
            <ion-icon name="layers"></ion-icon>
        </div>
        <div class="logo" style="grid-area: 3 / 2">
            <ion-icon name="layers"></ion-icon>
        </div>
    </div>
</div>