<h4 class="testo-gradient">Progettazione Database</h4>
<div class="flex-col">
    <p>
        Progettazione e sviluppo di database utilizzando 
        <span class="testo-gradient">schemi ER</span> e 
        <span class="testo-gradient">schemi logici</span>. 
        Creazione e documentazione di strutture 
        e relazioni dei dati tramite diagrammi 
        <span class="testo-gradient">UML</span> 
        per una chiara rappresentazione e gestione delle informazioni.
    </p>
</div>
<div class="contenuto flex-row"></div>