hr{
    border-color: var(--colore-bordo);
}

.schema{
    flex-grow: 1;

    &[er]{
        --h-entita: 3rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

        .entita{
            margin-block: auto;
            height: var(--h-entita);
            border: 2px solid var(--colore-bordo);
            border-radius: .5rem;
            width: 100%;
            z-index: 2;
            background-color: #111;
            transition-property: border-color, background-color;
            transition: .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);

            &:hover{
                border-color: #444;
                background-color: #222;
            }
        }
    
        .relazione{
            height: 75%;
            width: 50%;
            margin-inline: auto;
            transform: scale(150%, 50%) translate(-2px, -33%);

            &:hover::after{
                border-color: #444;
                background-color: #222;
            }

            &::after{
                content: '';
                width: 100%;
                display: block;
                aspect-ratio: 1;
                transform-origin: center;
                rotate: 45deg;
                translate: 0 calc((sqrt(2) - 1) * 50%);
                border-radius: .5rem;
                border: 3px solid  var(--colore-bordo);
                background-color: #111;
                transition-property: border-color, background-color;
                transition: .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
            }
        }
    
        .collegamento{
            justify-content: flex-start;
            align-items: flex-start;
    
            &::after{
                --offset-sopra: calc(33.33% - 1px);
                --offset-sotto: calc((33.33% - var(--h-entita)) * 1.5);
    
                content: '';
                display: block;
                width: 50%;
                height: calc(100% - var(--offset-sopra) - var(--offset-sotto));
                margin-top: var(--offset-sopra);
                margin-bottom: var(--offset-sotto);
                border-right: 2px dashed var(--colore-bordo);
                border-top: 2px dashed var(--colore-bordo);
                border-radius: 0 .5rem 0 0;
            }
    
            &[inverti]{
                transform-origin: center;
                transform: rotateY(180deg);
            }
        }
    }

    &[logico]{
        position: relative;
        justify-content: flex-end;

        .tabella{
            height: 90%;
            width: 90%;
            border-radius: .5rem;
            display: table;
            border-collapse: collapse;
            border-style: hidden; 
            box-shadow: 0 0 0 2px var(--colore-bordo);
            background-color: #0b0b0b;

            tbody{
                height: 100%;

                tr{
                    height: calc(90% / 4);

                    td{
                        width: 20%;
                        transition: background-color .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
            
                        &:hover{
                            background-color: #222;
                        }
                    }
                }

                tr:first-child{
                    height: 10%;
                    
                    td{
                        background-color: #111;
                        border-top: none;

                        &:hover{
                            background-color: #333;
                        }
                    
                        &:first-child{
                            border-radius: .5rem 0 0 0;
                        }

                        &:last-child{
                            border-radius: 0 .5rem 0 0;
                        }
                    }
                }

                tr:last-child td{
                    border-bottom: none;
                }
            }

            td{
                border: 2px solid var(--colore-bordo);
            }

            &::after, &::before{
                content: '';    
                position: absolute;
                height: 90%;
                width: 90%;
                left: 5%;
                bottom: 5%;
                z-index: -1;
                border-radius: inherit;
                border: 2px solid var(--colore-bordo);
                background-color: #0b0b0b;
                opacity: .75;
            }

            &::before{
                left: 10%;
                bottom: 10%;
                opacity: .5;
            }
        }
    }
}