<h4 class="testo-gradient">Progettazione Database</h4>
<div class="flex-col">
    <p>
        Progettazione e sviluppo di database utilizzando 
        <span class="testo-gradient">schemi ER</span> e 
        <span class="testo-gradient">modelli logici</span>. 
        Creazione e documentazione di strutture 
        e relazioni dei dati tramite diagrammi 
        <span class="testo-gradient">UML</span> 
        per una chiara rappresentazione e gestione delle informazioni.
    </p>
</div>
<div class="contenuto flex-row">
    <div class="schema" er>
        <div class="angolo" style="grid-area: 1 / 1"></div>
        <div class="angolo" style="grid-area: 1 / 3"></div>

        <div class="entita" style="grid-area: 1 / 2"></div>
        <div class="entita" style="grid-area: 3 / 1"></div>
        <div class="entita" style="grid-area: 3 / 3"></div>

        <div class="collegamento flex-row" inverti style="grid-area: 1 / 1 / -1 / 1"></div>
        <div class="collegamento flex-row" style="grid-area: 1 / 3 / -1 / 3"></div>

        <div class="relazione" style="grid-area: 2 / 1"></div>
        <div class="relazione" style="grid-area: 2 / 3"></div>
    </div>
    <hr>
    <div class="schema flex-col" logico>
        <div class="tabella">
            <tbody>
                @for (_ of div; track $index) {
                    <tr>
                        @for (_ of div; track $index) {
                            <td></td>    
                        }    
                    </tr>
                }
            </tbody>
        </div>
    </div>
</div>