:host {
  background-color: #000e;
}

.wrapper-griglia {
  interpolate-size: allow-keywords;
  transition: height 0.5s var(--easing);
}

.wrapper {
  width: clamp(0px, 100%, var(--w-contenuto-pagina));
}

.griglia {
  --bordo: 2px;
  --gap: 2rem;

  hr {
    &::after {
      display: none;
    }

    &::before {
      --width: 70cqw;
      filter: brightness(1.5);
    }
  }

  .contenuto-griglia {
    transition: 0.5s var(--easing);
    transition-property: opacity, filter;

    &:not(.visibile) {
      opacity: 0;
      filter: blur(0.5rem);
      height: 0;
    }

    &.visibile {
      height: auto;
      opacity: 1;
      z-index: 2;
      filter: blur(0rem);
    }
  }

  .controlli {
    grid-template-columns: auto minmax(auto, max-content) auto;

    .cella {
      --numero-alto: calc(pow(10, 10) * 1%);
      clip-path: polygon(
        0% 0%,
        100% 0%,
        100% var(--numero-alto),
        0% var(--numero-alto)
      );

      .sfondo-trattini {
        animation: mostra-trattini 1ms var(--easing);
        animation-timeline: view();
      }

      @keyframes mostra-trattini {
        0%,
        100% {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
      }
    }
  }
}

@media screen and (width < 1150px) {
  .wrapper-griglia {
    align-items: flex-start !important;
  }
}

@media screen and (width < 700px) {
  :host {
    padding-block: 3rem;
  }
}

@media screen and (width < 550px) {
  .griglia {
    margin-inline: calc(var(--gap) / 2);
    padding: calc(var(--gap) / 2);
    gap: calc(var(--gap) / 2);
  }

  .controlli {
    .cella:not(:has(Switch)) {
      display: none !important;
    }

    grid-template-columns: 1fr !important;
  }
}
