:host {
    position: relative;
    backdrop-filter: blur(1.2rem);
    background-color: #000E;
    padding-block: 5rem 2.5rem;
    display: flex;
    flex-direction: column;

    &>*:not(hr) {
        z-index: 1;
    }
}

.wrapper{
    width: clamp(0px, 100%, var(--w-contenuto-pagina));
    margin-inline: auto;
    gap: 2rem;
    flex-grow: 1;
}

h1,
h3 {
    margin-inline: auto;
}

h1 {
    width: fit-content;
    text-align: center;
}

h3 {
    max-width: 50ch;
    font-weight: 400;
    text-align: center;
    color: var(--grigio-9);
    font-size: 1.125rem;
    padding-inline: 1rem;
}

.griglia {
    --bordo: 2px;
    --gap: 2rem;
    position: relative;
    margin-inline: var(--gap);
    flex-grow: 1;
    gap: var(--gap);
    padding: 0 var(--gap) var(--gap) var(--gap);
    border-radius: 1rem;
    border: var(--bordo) solid #FFF2;

    hr {
        background-color: #0000;
        top: calc(var(--bordo) * -1);
        transform: rotate(180deg);
    }

    hr::after {
        display: none;
        opacity: .5;
        filter: brightness(.5);

    }

    hr::before {
        --width: min(30rem, 100%);
        filter: brightness(1.5);
    }

    .sfondo {
        position: absolute;
        inset: 0;
        background-color: var(--nero-h1);
    }

    .wrapper-griglia,
    .contenuto-griglia {
        position: relative;
        z-index: 1;
    }
    
    .wrapper-griglia{
        flex-grow: 1;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: flex-start;
    }

    .contenuto-griglia{
        transition: .5s var(--easing);
        transition-property: opacity, filter;
        position: relative;

        &:not(.visibile){
            min-height: 0;
            inset: 0;
            position: absolute;

            animation: absolute .5s var(--easing);
            @keyframes absolute {
                0%, 100% { position: static; }
            }
        }

        &.visibile{
            opacity: 1;
            z-index: 2;
            filter: blur(0rem);
        }
    }

    .controlli {
        display: grid;
        grid-template-columns: auto minmax(auto, max-content) auto;

        .cella {
            --numero-alto: calc(pow(10, 10) * 1%);
            clip-path: polygon(0% 0%, 100% 0%, 100% var(--numero-alto), 0% var(--numero-alto));


            Switch {
                transform: translateX(-1px);
                margin-top: var(--gap);
            }

            .sfondo-trattini {
                position: absolute;
                inset: 0;
                z-index: -1;
                animation: mostra-trattini 1ms var(--easing);
                animation-timeline: view();

            }

            @keyframes mostra-trattini {
                0%,100% {
                    opacity: 0;
                }
                50% {
                    opacity: 1;}
            }
        }
    }
}

@media screen and (width < 700px) {
    :host{
        padding-block: 3rem; 
    }
}

@media screen and (width < 550px) {
    .griglia{
        margin-inline: calc(var(--gap) / 2);
        padding: calc(var(--gap) / 2);
        gap: calc(var(--gap) / 2);
    }

    .controlli{
        .cella:not(:has(Switch)){
            display: none !important;
        }

        grid-template-columns: 1fr !important;
    }
}