<hr>
<div class="flex-col">
    <h1 class="testo-gradient">Competenze & Abilità</h1>
    <h3>Competenze che ho acquisito direttamente attraverso alla scuola, stage, o interesse personale</h3>
</div>
<div class="griglia flex-col">
    <hr>
    <SfondoConoscenze/>
    <div class="flex-row controlli">
        <div class="cella"></div>
        <div class="cella">
            <div class="sfondo-trattini"></div>
            <Switch (onChange)="CambiaSezione($event)"/>
        </div>
        <div class="cella"></div>
    </div>
    <div class="wrapper-griglia flex-col" >
        @switch (sezioneCorrente) {
            @case (Sezioni.Sviluppo) {
                <GrigliaSviluppo
                    class="flex-col contenuto-griglia"
                    [@transizione-card]
                />       
            }
            @case (Sezioni.Web) {
                <GrigliaWeb 
                    class="flex-col contenuto-griglia" 
                    [@transizione-card]
                />
            }
            @case (Sezioni.Certificazioni) {
                <GrigliaCertificazioni 
                    class="flex-col contenuto-griglia"  
                    [@transizione-card]
                />
            }
        }
    </div>
</div>
