:host{
    position: relative;
    backdrop-filter: blur(1.2rem);
    background-color: #000E;
    padding-block: 6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-bottom: 1px solid red;

    & > *:not(hr){
        z-index: 1;
    }

    & > [class*="flex"]{
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    
        .gap{
            flex: 1 0 1rem;
        }
    }    
}
hr{
    height: 2px;
    background-color: #FFF2;
    position: absolute;
    inset: 0 0 auto 0;
    border: 0;
    z-index: 0;
    height: 2px;
    overflow: visible;

    &::before{
        content: '';
        --width: 60dvw;
        height: 2px;
        width: var(--width);
        margin-inline: auto;
        position: absolute;
        left: calc(50% - var(--width) / 2);
        background: linear-gradient(90deg, #0000 0%, #8F8F8FAB 50%, #0000 100%);
    }

    &::after{
        content: '';
        --width: 60dvw;
        height: 2px;
        top: 0;
        width: var(--width);
        height: var(--width);
        margin-inline: auto;
        position: absolute;
        left: calc(50% - var(--width) / 2);
        transform: translateY(-50%);
        clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
        background: conic-gradient(from 90deg at 50% 50%, #0000 50%, #000 50%),
                    radial-gradient(#C8C8C81A 0%, #0000 70%);
    }
}

h1{
    width: fit-content; 
    margin-inline: auto;
}

.griglia{
    --bordo: 2px;
    position: relative;
    height: 100%;
    flex-grow: 1;
    border-radius: 1rem;
    border: var(--bordo) solid #FFF2;
    display: grid;
    grid-template-columns: auto minmax(auto, max-content) auto;

    hr{
        background-color: #0000;
        top: calc(var(--bordo) * -1);
        transform: rotate(180deg);
    }

    hr::after{
        display: none;
        opacity: .5;
        filter: brightness(.5);
        
    }
    
    hr::before{
        --width: 30rem;
        filter: brightness(1.5);
    }

    .sfondo{
        position: absolute;
        inset: 0;
        background-color: #0b0b0b;
    }

    article{
        padding-block: 2rem;
        position: relative;
        z-index: 0;

        Switch{
            transform: translateX(-1px);
        }

        .sfondo-trattini{
            position: absolute;
            inset: 0;
            z-index: -1;
            mask-image: linear-gradient(to bottom, #000, #0000);
        }
    }
}