:host.contenuto-griglia {
  gap: var(--gap);
  grid-area: 1 / 1 / 2 / 2;

  .card {
    --colore-p: var(--grigio-9);
    gap: calc(var(--gap) / 4);
    padding: 2rem;
    flex-grow: 1;
    border-radius: 1rem;
    border: 2px solid var(--colore-bordo);
    backdrop-filter: blur(0.25rem);
    background-color: #0b0b0bbb;
    transition: background-color 0.5s var(--easing);
    flex-grow: 1;

    &:hover::before {
      opacity: 1;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 3;
      opacity: 0;
      pointer-events: none;
      transition: opacity 500ms;
      background: radial-gradient(
        40rem circle at var(--mouse-x) var(--mouse-y),
        #ffffff05,
        transparent 90%
      );
    }

    &.grande {
      max-width: calc(50% - var(--gap) / 2);
    }

    // Stili generali per le card
    &::ng-deep {
      p {
        color: var(--colore-p);
        text-wrap: pretty;
        line-height: 1.5;

        .testo-gradient {
          font-weight: bold;
        }
      }

      .contenuto {
        --dim-logo: 4rem;

        .logo {
          height: var(--dim-logo);
          transition: 0.5s var(--easing);
          transition-property: border-color, background-color;

          img {
            height: 100%;
            width: 100%;
          }

          ion-icon {
            transform-origin: center;
            scale: 0.8;
          }

          &:hover {
            background-color: #1a1a1a;
          }
        }
      }
    }
  }
}
