:host {
  overflow-x: auto;
  overflow-y: clip;
  justify-content: center;
  padding-bottom: calc(var(--progresso-progetti) / 100 * var(--gap));
  flex-wrap: wrap;
}

.progetto {
  min-width: 0;
  gap: calc(var(--gap) / 3);
  margin-inline: calc(
    var(--gap) / 10 * var(--progresso-progetti) / 100 + 0.8rem
  );
  margin-top: 1rem;
  filter: blur(calc((1 - var(--progresso-progetti) / 100) * 1rem));
  opacity: calc(var(--progresso-progetti) / 100);

  &:hover,
  &.selezionato {
    .icona {
      border-color: var(--grigio-a);
      color: #fff;
    }

    p {
      color: #fff;
    }
  }

  &:hover .icona {
    background-color: #1a1a1a;
  }

  .icona {
    width: 5rem;
    display: grid;
    place-items: center;
    height: 5rem;
    min-height: 5rem;
    padding: 1rem;
    margin-inline: auto;
    border-radius: 0.5rem;
    border: 2px solid var(--colore-bordo);
    transition: 0.5s var(--easing);
    transition-property: border-color, background-color, color;
    cursor: pointer;
    color: color-mix(in srgb, var(--colore-bordo) 50%, #fff 50%);

    ion-icon {
      scale: 2;
      color: inherit;
    }
  }

  p {
    width: 10ch;
    display: -webkit-box;
    -webkit-box-direction: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    text-overflow: ellipsis;
    overflow: clip;
    text-align: center;
    font-size: var(--testo-xs);
    color: var(--grigio-a);
    transition: color 0.5s var(--easing);
  }
}

@media screen and (width < 700px) {
  .progetto {
    margin-inline: 0.5rem;

    p {
      font-size: var(--testo-xs);
    }

    .icona {
      height: 3rem;
      min-height: 3rem;
      width: 3rem;
      padding: 0.25rem;
    }
  }
}
