:host{
    flex-wrap: wrap;
    min-width: 0;
}

.card{
    justify-content: flex-start;
    overflow: hidden;

    &:not(:last-child){
        max-width: calc(50% - var(--gap) / 2);
    }

    p:not(:first-of-type){
        margin-top: .5rem;
    }

    h4{
        margin-top: auto;
        font-size: 1rem !important;
        transform: translateX(.25ch);
    }
}

@media screen and (width < 950px){
    .card:not(:last-child){
        max-width: none ;
    }
}