<div class="card flex-col">
    <h2 class="testo-gradient">Certificazione CAE</h2>
    <p>
        Ho conseguito la certificazione Cambridge English Advanced 
        (<span class="testo-gradient">CAE</span>), 
        che attesta il raggiungimento del livello 
        <span class="testo-gradient">C1</span> 
        secondo il Quadro Comune Europeo di Riferimento per le Lingue 
        (<span class="testo-gradient">QCER</span>). 
    </p>
    <p>
        Tuttavia, grazie al punteggio particolarmente elevato che ho ottenuto, 
        sono stato valutato a un livello 
        superiore, equivalente al 
        <span class="testo-gradient">C2</span>.
    </p>
    <h4 class="testo-gradient">Maggiori Informazioni</h4>
    <LinkInfo [info]="infoLinkCambridge"/>
</div>
<div class="card flex-col">
    <h2 class="testo-gradient">Certificazione Cisco</h2>
    <p>
        Ho ottenuto la certificazione Cisco 
        "<span class="testo-gradient">CCNAv7: Introduction to Networks</span>", 
        che attesta una solida comprensione delle basi delle reti, 
        incluse le 
        <span class="testo-gradient">architetture</span>, i 
        <span class="testo-gradient">protocolli</span>
         e i concetti fondamentali delle reti informatiche.
    </p>
    <p>
        Questo risultato è stato frutto del mio percorso all'
        <span class="testo-gradient">IIS Vallauri</span>, 
        dove ho potuto approfondire le mie competenze sia dal punto di vista teorico che pratico.
    </p>
    <h4 class="testo-gradient">Maggiori Informazioni</h4>
    <LinkInfo [info]="infoLinkCisco"/>
</div>
<div class="card flex-col">
    <h2 class="testo-gradient">Attesto Python (Unito)</h2>
    <p>
        Ho partecipato ad un PCTO promosso da 
        <span class="testo-gradient">Unito</span>
        dove sono stato introdotto ai fondamenti di 
        <span class="testo-gradient">Python</span>
        in maniera tale da poter avere esperienza
        malgrado non sia uno dei linguaggi che abbiamo imparato a scuola.
    </p>
    <h4 class="testo-gradient">Maggiori Informazioni</h4>
    <LinkInfo [info]="infoLinkUnito"/>
</div>