.card {
  &:not(:last-child) {
    max-width: calc(50% - var(--gap) / 2);
  }
}

@media screen and (width < 950px) {
  .card:not(:last-child) {
    max-width: none;
  }
}

@media screen and (width < 500px) {
  .card {
    padding: 1rem !important;
  }
}
