<div class="flex-col centro">
  <div>
    <h1 class="testo-gradient">Progetti Sviluppati</h1>
    <p class="sottotitolo">
      Progetti che ho sviluppato negli corso degli anni usando le conoscenze che
      ho appreso
    </p>
  </div>
  <div class="flex-col wrapper">
    <SelettoreProgetti
      [progetti]="progetti"
      [progetto-selezionato]="progettoSelezionato"
      [puo-cambiare]="puoCambiare"
      (onSelect)="SelezionaProgetto($event)"
      class="flex-row"
    />
    <div class="flex-col progetti">
      <Tecnologie
        [progetto-selezionato]="progettoSelezionato"
        [progetto-precedente]="progettoPrecedente"
        [resetta-for]="resettaFor"
      />
      <div class="flex-row progetto" id="progetto">
        <div
          class="flex-col descrizione"
          #descrizione
          [class.espanso]="espandiMenu"
        >
          <div class="flex-col wrapper-descrizione">
            <button
              id="info-progetto"
              class="info"
              (click)="espandiMenu = !espandiMenu"
              aria-label="Informazioni progetto"
            >
              <ion-icon
                [name]="espandiMenu ? 'close-circle' : 'information-circle'"
              ></ion-icon>
            </button>
            <Descrizione
              [progetto-selezionato]="progettoSelezionato"
              [progetto-precedente]="progettoPrecedente"
              [resetta-for]="resettaFor"
              class="scrollbar-stile"
            />
            <button
              class="link"
              (click)="ApriLink(progettoSelezionato.link)"
              aria-label="Link Github progetto"
            >
              <ion-icon name="logo-github"></ion-icon>
              <span>Github</span>
            </button>
          </div>
        </div>
        <Immagini
          [immagini-correnti]="progettoSelezionato.immagini"
          [immagini-precedenti]="progettoPrecedente?.immagini"
          [resetta-for]="resettaFor"
          class="flex-col"
        />
      </div>
    </div>
  </div>
</div>
<hr class="linea-luce" />
