:host{
    --gap: 2rem;

    position: relative;
    overflow-y: hidden;
    min-height: calc(100dvh - 5rem) !important;
    gap: 2rem;
    padding-bottom: 5rem;
    background-image: linear-gradient(#000, #0009);

    h1, h3{
        margin-inline: auto;
    }

    h1{
        width: fit-content;
    }

    h3{
        max-width: 40ch;
        font-weight: 400;
        text-align: center;
        color: #999;
        font-size: 1.125rem;
    }
}

hr.linea-luce{
    inset: auto 0 0 0;
    rotate: 180deg;

    &::before{
        --width: 60dvw;
    }

    &::after{
        --width: 80dvw;
    }
}

.wrapper{
    flex-grow: 1;
    gap: var(--gap);

    .selezione{
        overflow-x: auto;
        overflow-y: hidden;
        gap: var(--gap);
        justify-content: center;

        .progetto{
            min-width: 0;
            gap: calc(var(--gap) / 3);
            animation: entra-progetto 1ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
            animation-timeline: view(block 50% 10%);

            @keyframes entra-progetto {
                0%, 99.9999%{ opacity: 0; }
                100% { opacity: 1;}
            }
            
            &:hover, &.selezionato{                
                .icona{
                    border-color: #AAA;
                    color: #FFF;
                }
                
                p{
                    color: #FFF;
                }
            }

            &:hover .icona{
                background-color: #1a1a1a;
            }
            
            .icona{
                width: 5rem;
                display: grid;
                place-items: center;
                aspect-ratio: 1;
                padding: 1rem;
                margin-inline: auto;
                border-radius: .5rem;
                border: 2px solid var(--colore-bordo);
                transition-property: border-color, background-color, color;
                transition: .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
                cursor: pointer;
                color: color-mix(in srgb, var(--colore-bordo) 50%, #FFF 50%);

                ion-icon{
                    height: 100%;
                    scale: 2;
                    color: inherit;
                }
            }

            p{
                width: 10ch;
                display: -webkit-box;
                -webkit-box-direction: vertical;
                -webkit-line-clamp: 2;
                line-clamp: 2;
                text-overflow: ellipsis;
                overflow: hidden;
                text-align: center;
                font-size: .875rem;
                color: #AAA;
                transition: color .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
            }
        }
    }

    .progetti{
        flex-grow: 1;
        border: 2px solid var(--colore-bordo);
        border-radius: 1rem;
        position: relative;

        .wrapper-tecnologie{
            position: relative;
            z-index: 1;
            padding-inline: 1rem;
            padding-bottom: .5rem;
            border-bottom: 2px solid var(--colore-bordo);
            
            .tecnologie{
                margin-bottom: auto;
                gap: calc(var(--gap) / 2);
                padding-block: 1rem .5rem;
                overflow-x: auto;
                overflow-y: hidden;

                .img{
                    background-image: var(--bg);
                    height: 100%;
                    aspect-ratio: 1;
                    background-size: cover;
                }
                
                .tecnologia{
                    display: grid;
                    grid-template-columns: auto auto;
                    gap: .5rem;
                    padding: .5rem;
                    border: 2px solid var(--colore-bordo);
                    border-radius: .5rem;
                    transition-property: border-color, background-color;
                    transition: .5s cubic-bezier(0.33, 1, 0.68, 1);
                    cursor: pointer;
                    
                    &:not(.controllo, .esci){
                        opacity: 0;
                        transform: translateY(100%);
                        filter: blur(.05rem);
                        animation: entra .5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
                        
                        @keyframes entra {
                            to{
                                opacity: 1;
                                transform: translateY(0);
                                filter: blur(0);
                            }
                        }
                    }

                    &:hover{
                        border-color: #AAA;
                        background-color: #1a1a1a;
                    }

                    &.controllo{
                        width: 0;
                        padding-inline: 0;
                        transform: scaleX(0);
                        order: 9999;
                    }
                }

                &.transizione{
                    position: absolute;
                    top: 0;                                
                    opacity: 1;
                    transform: translateY(0);
                    filter: blur(0);

                    .esci{
                        animation: esci .5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
                        
                        @keyframes esci {
                            to{
                                opacity: 0;
                                transform: translateY(-100%);
                                filter: blur(.05rem);
                            }
                        }
                    }

                }
            }
        }

        .wrapper-progetto{
            position: relative;
            z-index: 1;
            flex-grow: 1;

            .progetto{
                position: absolute;
                inset: 1rem;
                overflow-y: auto;

                .a{
                    height: 5rem;
                    aspect-ratio: 1;
                }
            }

        }

        .sfondo-trattini{
            position: absolute;
            inset: 0 calc(100% / 3) 0 calc(100% / 3);
            // z-index: 0 !important;
            // pointer-events: none;
        }
    }
}