<div>
    <h1 class="testo-gradient">Progetti Sviluppati</h1>
    <h3>Progetti che ho sviluppato negli corso degli anni usando le conoscenze che ho appreso</h3>
</div>
<hr class="linea-luce">
<div class="wrapper flex-col">
    <SelettoreProgetti
        [progetti]="progetti"
        [progetto-selezionato]="progettoSelezionato"
        [puo-cambiare]="puoCambiare"
        (onSelect)="SelezionaProgetto($event)"
        class="flex-row"
    />
    <div class="progetti flex-col">
        <Tecnologie
            [progetto-selezionato]="progettoSelezionato"
            [progetto-precedente]="progettoPrecedente"
            [resetta-for]="resettaFor"
        />
        <div class="progetto flex-row" id="progetto">
            <div class="descrizione flex-col" #descrizione>
                <Descrizione 
                    [progetto-selezionato]="progettoSelezionato"
                    [progetto-precedente]="progettoPrecedente"
                    [resetta-for]="resettaFor"
                    class="scrollbar-stile"
                />
                <button class="link" (click)="ApriLink(progettoSelezionato.link)">
                    <ion-icon name="logo-github"></ion-icon>
                    <span>Github</span>
                </button>
            </div>
            <Immagini 
                [immagini-correnti]="progettoSelezionato.immagini"
                [immagini-precedenti]="progettoPrecedente?.immagini"
                [resetta-for]="resettaFor"
                class="flex-col"
            />
        </div>
    </div>
    <div class="sfondo-trattini"></div>
</div>