@if(resettaFor){
    <div class="wrapper-img immagine" [style]="{'--img': 'url(' + immaginiCorrenti[img.immagineSelezionata] + ')'}">
        <img [src]="immaginiCorrenti[img.immagineSelezionata]">
        <button class="icona" (click)="ApriModaleImmagine(img.immagineSelezionata)">
            <ion-icon name="scan"></ion-icon>
        </button>
    </div>
    <div class="wrapper-selettore">
        <div class="selettore flex-row scrollbar-stile" (click)="SelezionaImmagine($event)">
            
            @for (i of immaginiCorrenti; track $index) {
                <img
                     [src]="i" 
                     [class.selezionata]="$index === img.immagineSelezionata"
                     [style]="{'--delay': ($index + 1) / 20}"     
                     class="immagine"
                />
            }
        </div>
    </div>
}

@if(immaginiPrecendenti && img.immaginePrecedente !== undefined) {
    <div class="transizione flex-col">
        <div class="wrapper-img immagine" [style]="{'--img': 'url(' + immaginiPrecendenti[img.immaginePrecedente] + ')'}">
            <img [src]="immaginiPrecendenti[img.immaginePrecedente]">
        </div>
        <div class="wrapper-selettore">
            <div class="selettore flex-row scrollbar-stile">
                
                @for (i of immaginiPrecendenti; track $index) {
                    <img 
                        [src]="i" 
                        [class.selezionata]="$index === img.immaginePrecedente"
                        [style]="{'--delay': ($index + 1) / 50}"
                        class="immagine"
                    />
                }
            </div>
        </div>
    </div>
}

<dialog #modale>
    @if(immagineVisualizzata){
        <img [src]="immagineVisualizzata"/>
    }

    <button class="brilla" (click)="ChiudiModale()">
        <ion-icon name="close"></ion-icon>
    </button>
</dialog>