@if(resettaFor){
<div
  class="wrapper-img immagine"
  [style]="{
    '--img': 'url(' + immaginiCorrenti[img.immagineSelezionata] + ')'
  }"
>
  <img
    [src]="immaginiCorrenti[img.immagineSelezionata]"
    [attr.alt]="img.immagineSelezionata"
  />
  <button
    class="icona"
    (click)="ApriModaleImmagine(img.immagineSelezionata)"
    aria-label="Visualizza immagine"
  >
    <ion-icon name="scan"></ion-icon>
  </button>
</div>
<div class="wrapper-selettore">
  <div
    class="flex-row selettore scrollbar-stile"
    (click)="SelezionaImmagine($event)"
  >
    @for (i of previewCorrenti; track $index) {
    <img
      [src]="i"
      [class.selezionata]="$index === img.immagineSelezionata"
      [style]="{ '--delay': ($index + 1) / 20 }"
      [attr.alt]="i"
      class="immagine"
      loading="lazy"
      decoding="async"
    />
    }
  </div>
</div>
} @if(immaginiPrecendenti && img.immaginePrecedente !== undefined) {
<div class="flex-col transizione">
  <div
    class="wrapper-img immagine"
    [style]="{
      '--img': 'url(' + immaginiPrecendenti[img.immaginePrecedente] + ')'
    }"
  >
    <img
      [src]="immaginiPrecendenti[img.immaginePrecedente]"
      [attr.alt]="img.immaginePrecedente"
    />
  </div>
  <div class="wrapper-selettore">
    <div class="flex-row selettore scrollbar-stile">
      @for (i of previewPrecedenti; track $index) {
      <img
        [src]="i"
        [class.selezionata]="$index === img.immaginePrecedente"
        [style]="{ '--delay': ($index + 1) / 50 }"
        [attr.alt]="i"
        class="immagine"
        loading="lazy"
        decoding="async"
      />
      }
    </div>
  </div>
</div>
}

<dialog #modale>
  <div class="flex-col wrapper">
    <div class="cont-img">
      <img [src]="immagineVisualizzata" />
      <!-- L’immagine nel dialog è fuori viewport finché chiuso: safe per async -->

      <div class="lente"></div>
    </div>
    <div class="flex-row info">
      <ion-icon name="information-circle" />
      Tieni premuto e usa la rotella per ingrandire
    </div>

    <button class="brilla" (click)="ChiudiModale()" aria-label="Chiudi">
      <ion-icon name="close"></ion-icon>
    </button>
  </div>
</dialog>
