<h3 class="testo-gradient">Front-End</h3>
<p>
  Creazione di siti tradizionali con
  <span class="svasato testo-gradient" style="--colore-accento: #3d9dd7"
    >CSS</span
  >,
  <span class="svasato testo-gradient" style="--colore-accento: #f0dc55"
    >JS</span
  >
  e
  <span class="svasato testo-gradient" style="--colore-accento: #1389dd"
    >jQuery</span
  >
  oppure attraverso framework, principalmente
  <span class="testo-gradient" style="--colore-accento: #f5427b">Angular</span>,
  per SPA con
  <span class="testo-gradient" style="--colore-accento: #377cc8"
    >TypeScript</span
  >
  e
  <span class="testo-gradient" style="--colore-accento: #cf6b9d">Tailwind</span
  >.
</p>
<div class="flex-row contenuto">
  <div class="wrapper-cerchio">
    <div class="cerchio">
      <!-- Non si può usare @if perche interrompe l'animazone -->
      <!-- che fa "controgirare" i loghi -->
      @for (gruppo of gruppiLoghi; track gruppo.posizione.left) {
        <div class="logo" [style]="gruppo.posizione">
          @for (logo of gruppo.loghi; track logo.src) {
            <img
              [attr.offset]="logo.offset ? '' : null"
              [src]="logo.src"
              [alt]="logo.alt"
              [title]="logo.title"
              loading="lazy"
              decoding="async"
            />
          }
        </div>
      }
      <div class="logo centro">
        @for (logo of loghiCentro; track logo.src) {
          <img
            [attr.offset]="logo.offset ? '' : null"
            [src]="logo.src"
            [alt]="logo.alt"
            loading="lazy"
            decoding="async"
          />
        }
      </div>
    </div>
  </div>
</div>
