:host {
    // ciclo doppio, deve tenere conto di quando
    // è visibile e invisibile
    --tempo-animazione-loghi: 20s;
    align-items: flex-start;


    // p .colorato{
    //     animation: colora var(--tempo-animazione-loghi) linear infinite;

    //     &.svasato{
    //         animation-direction: reverse;
    //     }

    //     @keyframes colora {
    //         0%, 50%, 100%{
    //             color: #FFF;
    //         }
    //         2.5%, 47.5%{
    //             color: var(--colore-accento);
    //         }
    //     }
    // }

}

.contenuto {
    margin-inline: auto;
    aspect-ratio: 1;
    min-height: 20rem;

    .wrapper-cerchio {
        height: calc(100% - var(--dim-logo));
        width: calc(100% - var(--dim-logo));
        position: relative;
        margin: calc(var(--dim-logo) / 2);

        &>.cerchio {
            --spessore: 2px;
            --tempo-rotazione: 90s;

            position: relative;
            display: grid;
            place-items: center;
            aspect-ratio: 1;
            border-radius: 1000dvh;
            border: var(--spessore) solid var(--colore-bordo);
            animation: gira var(--tempo-rotazione) infinite linear;

            &:has(.logo:not(.centro):hover) {
                animation-play-state: paused;

                img {
                    animation-play-state: paused !important;
                }
            }

            .logo {
                position: absolute;
                transform: translate(-50%, -50%);
                display: grid;
                place-content: center;
                border-radius: 100dvh;
                border: var(--spessore) solid var(--colore-bordo);
                overflow: hidden;

                img {
                    padding: 1rem;
                    animation: gira var(--tempo-rotazione) infinite reverse linear,
                        alterna var(--tempo-animazione-loghi) infinite linear;

                    transform-origin: center;
                    grid-area: 1 / 1;

                    &[offset] {
                        transform: translateY(.1rem);
                    }
                }

                img:nth-child(2) {
                    animation-direction: reverse;
                }

                &.centro {
                    --dim-logo: 7rem;
                    position: initial;
                    transform: none;
                    background-color: #0000;
                    border-color: #0000;
                }

                @keyframes alterna {

                    0%,
                    50%,
                    100% {
                        opacity: 0;
                        filter: blur(5px);
                        z-index: 1;
                    }

                    2.5%,
                    47.5% {
                        opacity: 1;
                        filter: blur(0);
                        z-index: 2;
                    }
                }
            }

            @keyframes gira {
                from {
                    rotate: 0
                }

                to {
                    rotate: 1turn
                }
            }
        }
    }
}