:host {
  // ciclo doppio, deve tenere conto di quando
  // è visibile e invisibile
  --tempo-animazione-loghi: 20s;
}

.contenuto {
  .wrapper-cerchio {
    height: calc(100% - var(--dim-logo));
    width: calc(100% - var(--dim-logo));
    margin: calc(var(--dim-logo) / 2);

    & > .cerchio {
      --spessore: 2px;
      --tempo-rotazione: 90s;

      border: var(--spessore) solid var(--colore-bordo);
      animation: gira var(--tempo-rotazione) infinite linear;

      &:has(.logo:not(.centro):hover) {
        animation-play-state: paused;

        img {
          animation-play-state: paused !important;
        }
      }

      .logo {
        border: var(--spessore) solid var(--colore-bordo);

        img {
          padding: 1rem;
          animation: gira var(--tempo-rotazione) infinite reverse linear,
            alterna var(--tempo-animazione-loghi) infinite linear;

          transform-origin: center;
          grid-area: 1 / 1;

          &[offset] {
            transform: translateY(0.1rem);
          }
        }

        img:nth-child(2) {
          animation-direction: reverse;
        }

        &.centro {
          --dim-logo: 7rem;
          position: initial;
          transform: none;
          background-color: #0000;
          border-color: #0000;
        }

        @keyframes alterna {
          0%,
          50%,
          100% {
            opacity: 0;
            filter: blur(5px);
            z-index: 1;
          }

          2.5%,
          47.5% {
            opacity: 1;
            filter: blur(0);
            z-index: 2;
          }
        }
      }

      @keyframes gira {
        from {
          rotate: 0;
        }

        to {
          rotate: 1turn;
        }
      }
    }
  }
}

@media screen and (width < 500px) {
  .contenuto {
    min-height: 15rem;
    margin-top: 0;
  }

  .logo {
    --dim-logo: 4rem !important;
  }
}
