:host{

    & > .flex-row{
        gap: var(--gap);
        flex-grow: 1;

        p{
            width: 14rem;

            &:not(:first-of-type){
                margin-top: .5rem;
            }
        }

        hr{
            border-color: var(--colore-bordo);
        }

        .contenuto{
            --dim-logo-telefono: 3rem;
            --tempo-animazione: 5s;
            gap: calc(var(--gap) / 2);
            flex-grow: 1;
            position: relative;
            flex-wrap: nowrap !important;
            margin-top: 0 !important;
            align-items: center;
            justify-content: space-between;
            
            .cont-capacitor{
                position: absolute;
                width: 100%;
                height: 50%;
                margin-block: auto;
                align-items: center;
                
                span{
                    --dim-logo: 4rem;
                    width: 100%;
                    position: relative;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: 1fr;
                    top: 50%;

                    .logo{   
                        z-index: 1;
                        position: absolute;
                        left: calc(50% - var(--dim-logo) / 2);
                        transform: translateY(-50%);
                        height: var(--dim-logo);
                        aspect-ratio: 1;
                        padding: 1rem;
                        border: 2px solid var(--colore-bordo);
                        border-radius: 100vh;
                        animation: pulsa var(--tempo-animazione) linear infinite;
                        display: grid;

                        img{
                            filter: blur(0);
                            opacity: 1;
                            z-index: 1;
                            transition-property: filter, opacity;
                            transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
                            grid-area: 1 / 1 / 2 / 2;
    
                            &.nascosto{
                                filter: blur(.5rem);
                                opacity: 0;
                                z-index: 0;
                            }
                        }

                        @keyframes pulsa {
                            0%, 33.333%{
                                background-color: #0b0b0b;
                                border-color: var(--colore-bordo);
                            }
                            16.666%{
                                background-color: #1a1a1a;
                                border-color: #AAA;
                            }
                        }
                    }

                    .cella{
                        --dim-pallino: 1rem;
                        position: relative;

                        &::before{
                            content: '';
                            position: absolute;
                            left: calc(var(--dim-logo-telefono) * 1.5);
                            right: calc(var(--dim-logo) / 2);
                            border-bottom: 3px dashed #FFF;
                            mask-image: linear-gradient(90deg, #0003 50%, #000D 75%, #0003 100%);
                            mask-size: 200%;
                            mask-position: 0% 0;
                            animation: muovi var(--tempo-animazione) linear infinite;

                            @keyframes muovi {
                                0%{ mask-position: 0 0 }
                                50%, 100%{ mask-position: 200% 0 }
                            }
                        }

                        &::after{
                            content: '';
                            width: var(--dim-pallino);
                            aspect-ratio: 1;
                            position: absolute;
                            left: calc(var(--dim-logo-telefono) * 1.5);
                            transform: translate(-50%, calc(-50% + 1.5px));
                            border-radius: 100vh;
                            background-color: #444;
                            animation: pulsa-1 var(--tempo-animazione) linear infinite;

                            @keyframes pulsa-1 {
                                10%, 66.66%, 100%{
                                    background-color: #444;
                                }
                                50%{
                                    background-color: #AAA;
                                }
                            }
                        }

                        &:nth-child(2){

                            &::before{
                                right: calc(var(--dim-logo-telefono) * 1.5);
                                left: calc(var(--dim-logo) / 2);
                                animation: muovi-2 var(--tempo-animazione) linear infinite;
                                mask-position: 0% 0;

                                @keyframes muovi-2 {
                                    0%{ mask-position: 0 0 }
                                    50%, 100%{ mask-position: -200% 0 }
                                }
                            }

                            &::after{
                                left: initial;
                                right: calc(var(--dim-logo-telefono) * 1.5);
                                transform: translate(50%, calc(-50% + 1.5px));
                            }
                        }

                    }
                    
                }
            }
            
            .telefono{
                min-width: 8.5rem;
                aspect-ratio: 9/19.5;
                position: relative;
                border: .25rem solid var(--colore-bordo);
                border-radius: 1.25rem;
                background-color: #0b0b0b;

                img{
                    position: absolute;
                    height: var(--dim-logo-telefono);
                    aspect-ratio: 1;
                    top: calc(50% - var(--dim-logo-telefono) / 2);
                    left: calc(50% - var(--dim-logo-telefono) / 2);
                    opacity: .3;

                    animation: pulsa-2 var(--tempo-animazione) linear infinite;

                    @keyframes pulsa-2 {
                        25%, 66.66%, 100%{
                            opacity: .3;
                        }
                        50%{
                            opacity: .6;
                        }
                    }
                }

                &[android]::after{
                    --dim: .5rem;
                    content: '';
                    position: absolute;
                    top: var(--dim);
                    left: calc(50% - var(--dim) / 2);
                    height: var(--dim);
                    aspect-ratio: 1;
                    border-radius: 100vh;
                    background-color: var(--colore-bordo);
                }

                &[ios]::after{
                    --dim: 4rem;
                    content: '';
                    position: absolute;
                    left: calc(50% - var(--dim) / 2);
                    height: .75rem;
                    width: var(--dim);
                    border-radius: 0 0 .5rem .5rem;
                    background-color: var(--colore-bordo);
                }
            }
        }
    }
}