<h3 class="testo-gradient">Applicazioni Mobile</h3>
<div class="flex gap-8 grow">
  <div class="flex-col">
    <p class="w-56">
      Sviluppo di un'applicazione mobile per
      <span class="testo-gradient">Android</span> e
      <span class="testo-gradient">iOS</span>
      a partire da un unico codice sorgente, semplificando così la gestione e la
      manutenzione.
    </p>
    <p class="mt-2">
      Questo risultato grazie all'impiego di piattaforme come
      <span class="testo-gradient">Ionic</span>, combinato con
      <span class="testo-gradient">Capacitor</span>
      per accedere alle API native del dispostivo, e
      <span class="testo-gradient">Cordova</span>.
    </p>
  </div>
  <hr class="border-neutral-800" />
  <div class="relative flex justify-between items-center gap-4 gorw contenuto">
    <div class="telefono" android>
      <img
        src="https://www.bosio.zip/assets/img/loghi/android.webp"
        alt="A"
        loading="lazy"
      />
    </div>
    <div class="telefono" ios>
      <img
        src="https://www.bosio.zip/assets/img/loghi/apple.webp"
        alt="A"
        loading="lazy"
      />
    </div>
    <div class="absolute flex items-center my-auto w-full h-40 cont-capacitor">
      <span class="top-1/2 grid grid-cols-2 grid-rows-1 w-full rlative">
        <div class="relative cella"></div>
        <div class="relative cella"></div>
        <div
          class="z-1 absolute grid p-4 border-2 border-neutral-800 rounded-full aspect-square -translate-y-1/2 logo"
        >
          <img
            [class.nascosto]="logoCordova"
            src="https://www.bosio.zip/assets/img/loghi/capacitor.webp"
            alt="C"
            title="Capacitor"
            loading="lazy"
          />
          <img
            [class.nascosto]="!logoCordova"
            src="https://www.bosio.zip/assets/img/loghi/cordova.webp"
            alt="C"
            title="Cordova"
            loading="lazy"
          />
        </div>
      </span>
    </div>
  </div>
</div>
