:host {
  & > .flex {
    .contenuto {
      --dim-logo-telefono: 3rem;
      --tempo-animazione: 5s;

      .cont-capacitor {
        span {
          --dim-logo: 4rem;

          .logo {
            height: var(--dim-logo);
            animation: pulsa var(--tempo-animazione) linear infinite;
            border-color: var(--colore-bordo);

            img {
              filter: blur(0);
              opacity: 1;
              z-index: 1;
              transition: 1s var(--easing);
              transition-property: filter, opacity;
              grid-area: 1 / 1 / 2 / 2;

              &.nascosto {
                filter: blur(0.5rem);
                opacity: 0;
                z-index: 0;
              }
            }

            @keyframes pulsa {
              0%,
              33.333% {
                background-color: var(--nero-h1);
                border-color: var(--colore-bordo);
              }
              16.666% {
                background-color: #1a1a1a;
                border-color: var(--grigio-a);
              }
            }
          }

          .cella {
            --dim-pallino: 1rem;

            &::before {
              content: "";
              position: absolute;
              left: calc(var(--dim-logo-telefono) * 1.5);
              right: calc(var(--dim-logo) / 2);
              border-bottom: 3px dashed #fff;
              mask-image: linear-gradient(
                90deg,
                #0003 50%,
                #000d 75%,
                #0003 100%
              );
              mask-size: 200%;
              mask-position: 0% 0;
              animation: muovi var(--tempo-animazione) linear infinite;

              @keyframes muovi {
                0% {
                  mask-position: 0 0;
                }
                50%,
                100% {
                  mask-position: 200% 0;
                }
              }
            }

            &::after {
              content: "";
              width: var(--dim-pallino);
              aspect-ratio: 1;
              position: absolute;
              left: calc(var(--dim-logo-telefono) * 1.5);
              transform: translate(-50%, calc(-50% + 1.5px));
              border-radius: 100vh;
              background-color: var(--grigio-4);
              animation: pulsa-1 var(--tempo-animazione) linear infinite;

              @keyframes pulsa-1 {
                10%,
                66.66%,
                100% {
                  background-color: var(--grigio-4);
                }
                50% {
                  background-color: var(--grigio-a);
                }
              }
            }

            &:nth-child(2) {
              &::before {
                right: calc(var(--dim-logo-telefono) * 1.5);
                left: calc(var(--dim-logo) / 2);
                animation: muovi-2 var(--tempo-animazione) linear infinite;
                mask-position: 0% 0;

                @keyframes muovi-2 {
                  0% {
                    mask-position: 0 0;
                  }
                  50%,
                  100% {
                    mask-position: -200% 0;
                  }
                }
              }

              &::after {
                left: initial;
                right: calc(var(--dim-logo-telefono) * 1.5);
                transform: translate(50%, calc(-50% + 1.5px));
              }
            }
          }
        }
      }

      .telefono {
        background-color: var(--nero-h1);

        img {
          height: var(--dim-logo-telefono);
          top: calc(50% - var(--dim-logo-telefono) / 2);
          left: calc(50% - var(--dim-logo-telefono) / 2);

          animation: pulsa-2 var(--tempo-animazione) linear infinite;

          @keyframes pulsa-2 {
            25%,
            66.66%,
            100% {
              opacity: 0.3;
            }
            50% {
              opacity: 0.6;
            }
          }
        }

        &[android]::after {
          --dim: 0.5rem;
          content: "";
          position: absolute;
          top: var(--dim);
          left: calc(50% - var(--dim) / 2);
          height: var(--dim);
          aspect-ratio: 1;
          border-radius: 100vh;
          background-color: var(--colore-bordo);
        }

        &[ios]::after {
          --dim: 4rem;
          content: "";
          position: absolute;
          left: calc(50% - var(--dim) / 2);
          height: 0.75rem;
          width: var(--dim);
          border-radius: 0 0 0.5rem 0.5rem;
          background-color: var(--colore-bordo);
        }
      }
    }
  }
}

@media screen and (width < 500px) {
  :host > div {
    gap: calc(var(--gap) / 2) !important;
  }

  .contenuto {
    min-height: 15rem;

    .telefono {
      min-width: unset !important;
      height: 100%;
    }
  }
}
