.contenuto{
    --tempo-animazione: 5s;
    --dim-logo: 4rem;
    --spessore-trattino: 2px;
    --colore-trattino: #FFF9;

    position: relative;
    aspect-ratio: 1;
    margin-inline: auto;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    padding: calc(var(--dim-logo) / 2);
    gap: 0 !important;

    .cella{
        position: relative;

        svg{
            height: 100%;
            width: 100%;
            position: absolute;
            
            g{
                scale: sqrt(2);
            }

            #rect-angolo-sx{
                transform-origin: center;
                transform: rotate(90deg);
                animation: ruota-angolo-sx var(--tempo-animazione) linear infinite;
                animation-delay: calc(var(--tempo-animazione) * .25);

                @keyframes ruota-angolo-sx {
                    0%{ transform: rotate(360deg) }
                    100%{ transform: rotate(0) }
                }
            }

            #rect-angolo-dx{
                transform-origin: center;
                transform: rotate(90deg);
                animation: ruota-angolo-dx var(--tempo-animazione) linear infinite;
                animation-delay: calc(var(--tempo-animazione) * .25);

                @keyframes ruota-angolo-dx {
                    0%{ transform: rotate(0) }
                    100%{ transform: rotate(360deg) }
                }
            }
        }

        &::before, &::after{
            --bordo: var(--spessore-trattino) dashed var(--colore-trattino);
            --gradient-linea: var(--colore-trattino) 0%, var(--colore-bordo) 10%, var(--colore-bordo) 90%, var(--colore-trattino) 100%;

            content: '';
            position: absolute;
            inset: 0;
            border-radius: 1rem;
            mask-size: 200% 200%;
        }

        &:nth-child(even){
            transform: translateX(calc(var(--spessore-trattino) * -1));
        }

        &:nth-child(odd){
            transform: translateX(var(--spessore-trattino));
        }

        @keyframes linea-verticale {
            0%{ mask-position: 0 200% }
            50%, 100%{ mask-position: 0 0 }
        }

        @keyframes linea-orizzontale {
            0%{ mask-position: 200% 0 }
            50%, 100%{ mask-position: 0 0 }
        }

        &:nth-child(1)::after{
            border-right: var(--bordo);
            mask-image: linear-gradient(var(--gradient-linea));
            animation: linea-verticale var(--tempo-animazione) linear infinite;
        }

        &:nth-child(2)::after{
            border-top: var(--bordo);
            mask-image: linear-gradient(90deg, var(--gradient-linea));
            animation: linea-orizzontale var(--tempo-animazione) linear infinite;
        }

        &:nth-child(3)::after{
            border-top: var(--bordo);
            border-left: var(--bordo);
            mask-image: url(#maschera-angolo-sx);
        }

        &:nth-child(3)::before{
            border-right: var(--bordo);
            mask-image: linear-gradient(var(--gradient-linea));
            animation: linea-verticale var(--tempo-animazione) linear infinite;
            animation-delay: calc(var(--tempo-animazione) * .25);
        }

        &:nth-child(4)::after{
            border-top: var(--bordo);
            border-right: var(--bordo);
            mask-image: url(#maschera-angolo-dx);
        }
    }

    .logo{
        --in-mezzo: calc(50% - var(--dim-logo) / 2);
        border: 2px solid var(--colore-bordo);
        padding: .5rem;
        position: absolute;
        animation: colora-bordi var(--tempo-animazione) linear infinite;
        
        &[node]{
            left: var(--in-mezzo);
        }

        &[postman]{
            right: 0;
            animation-delay: calc(var(--tempo-animazione) * .25);
        }

        &[express]{
            left: var(--in-mezzo);
            top: var(--in-mezzo);
            animation-delay: calc(var(--tempo-animazione) * .25);
        }

        &[jwt]{
            left: var(--in-mezzo);
            bottom: 0;
            animation-delay: calc(var(--tempo-animazione) * .5);
        }

        &[mongo]{
            left: 0;
            bottom: 0;
            animation-delay: calc(var(--tempo-animazione) * .75);
        }

        &[mysql]{
            right: 0;
            bottom: 0;
            animation-delay: calc(var(--tempo-animazione) * .75);
        }

        @keyframes colora-bordi {
            0%, 50%, 100%{ border-color: var(--colore-bordo) }
            25%{ border-color: var(--colore-trattino) }
        }
    }
}