<h3 class="testo-gradient">Sviluppo PHP</h3>
<div class="flex grow gap-8">
  <span>
    <p>
      Usato con
      <span class="testo-gradient">XAMPP</span>
      per presentare le pagine attraverso il Server-Side Rendering (<span
        class="testo-gradient"
        >SSR</span
      >) o, in aggiunta, per la creazione di
      <span class="testo-gradient">API</span>
      con servizi PHP.
    </p>
    <p style="margin-top: calc(var(--gap) / 4)">
      Usando quest'ultimi per potersi interfacciare ad un database gestito da
      <span class="testo-gradient">MariaDB</span>, un fork di
      <span class="testo-gradient">MySQL</span>.
    </p>
  </span>
  <hr />
  <div class="contenuto flex flex-col aspect-square mt-0 relative min-w-40">
    <div class="logo p-3 absolute z-2" xampp>
      <img
        src="https://www.bosio.zip/assets/img/loghi/xampp.webp"
        alt="X"
        title="XAMPP"
        loading="lazy"
      />
    </div>
    <div class="logo p-2 absolute z-2 right-0" utente>
      <ion-icon name="person" />
    </div>
    <div class="logo p-2 absolute z-2 bottom-0" php>
      <img
        src="https://www.bosio.zip/assets/img/loghi/php.webp"
        alt="P"
        title="PHP"
        loading="lazy"
      />
    </div>
    <div class="logo p-2 absolute z-2 right-0 bottom-0" mariadb>
      <img
        src="https://www.bosio.zip/assets/img/loghi/mariadb.webp"
        alt="M"
        title="MariaDB"
        loading="lazy"
      />
    </div>

    <hr orizzontale class="absolute border-0" />
    <hr orizzontale class="absolute border-0" />
    <hr verticale class="absolute border-0" />

    <ion-icon name="help-circle" class="absolute" animazione icona-1></ion-icon>
    <ion-icon
      name="information-circle"
      class="absolute"
      animazione
      icona-2
    ></ion-icon>
    <ion-icon name="help-circle" class="absolute" animazione icona-3></ion-icon>
    <ion-icon name="server" class="absolute" animazione icona-4></ion-icon>
    <ion-icon
      name="document-text"
      class="absolute"
      animazione
      icona-5
    ></ion-icon>
    <ion-icon
      name="document-text"
      class="absolute"
      animazione
      icona-6
    ></ion-icon>
  </div>
</div>
