:host {
  hr {
    border-color: var(--colore-bordo);
  }

  .contenuto {
    --tempo-animazione: 30s;

    hr {
      &[orizzontale] {
        border-top: 2px dashed var(--colore-bordo);
        inset: calc(var(--dim-logo) / 2) var(--dim-logo) auto var(--dim-logo);

        &:nth-of-type(2) {
          inset: auto var(--dim-logo) calc(var(--dim-logo) / 2) var(--dim-logo);
        }
      }

      &[verticale] {
        border-left: 2px dashed var(--colore-bordo);
        inset: var(--dim-logo) auto var(--dim-logo) calc(var(--dim-logo) / 2);
      }
    }

    ion-icon[animazione] {
      --step-animazione: calc(var(--tempo-animazione) / 6);
      font-size: var(--testo-l);
      color: var(--grigio-9);

      &[icona-1],
      &[icona-6] {
        transform: translateY(-50%);
        top: calc(var(--dim-logo) / 2);
        animation: muovi-orizzontale var(--tempo-animazione) linear 0s infinite;
      }

      &[icona-2],
      &[icona-5] {
        left: calc(var(--dim-logo) / 2);
        top: calc(var(--dim-logo) / 2);
        transform: translateX(-50%);
        animation: muovi-verticale var(--tempo-animazione) linear
          var(--step-animazione) infinite;
      }

      &[icona-3],
      &[icona-4] {
        transform: translateY(50%);
        bottom: calc(var(--dim-logo) / 2);
        animation: muovi-orizzontale var(--tempo-animazione) linear
          calc(var(--step-animazione) * -3) infinite reverse;
      }

      &[icona-4] {
        left: calc(var(--dim-logo) / 2);
        animation: muovi-orizzontale var(--tempo-animazione) linear
          calc(var(--step-animazione) * 3) infinite;
      }

      &[icona-5] {
        animation: muovi-verticale var(--tempo-animazione) linear
          calc(var(--step-animazione) * -1) infinite reverse;
      }

      &[icona-6] {
        animation: muovi-orizzontale var(--tempo-animazione) linear
          calc(var(--step-animazione) * -6) infinite reverse;
      }

      &[icona-4],
      &[icona-5],
      &[icona-6] {
        transform-origin: center;
        scale: 0.85;
      }

      @keyframes muovi-orizzontale {
        0% {
          left: calc(100% - var(--dim-logo));
        }
        16.6%,
        100% {
          left: calc(var(--dim-logo) / 2);
        }
      }

      @keyframes muovi-verticale {
        0% {
          top: calc(var(--dim-logo) / 2);
        }
        16.6%,
        100% {
          top: calc(100% - var(--dim-logo));
        }
      }
    }

    .logo {
      --colore-trattino: #fff7;
      border: 2px solid var(--colore-bordo);

      &[utente] {
        animation: colora-bordi-utente var(--tempo-animazione) linear infinite;

        @keyframes colora-bordi-utente {
          16.6%,
          100% {
            border-color: var(--colore-bordo);
          }
          8.3% {
            border-color: var(--colore-trattino);
          }
        }
      }

      &[xampp] {
        animation: colora-bordi-xammp var(--tempo-animazione) linear infinite;
        @keyframes colora-bordi-xammp {
          16.6%,
          33.3%,
          83.3% {
            border-color: var(--colore-bordo);
          }
          24.9%,
          91.6% {
            border-color: var(--colore-trattino);
          }
        }
      }

      &[php] {
        animation: colora-bordi-php var(--tempo-animazione) linear infinite;
        @keyframes colora-bordi-php {
          33.3%,
          49.9%,
          66.6% {
            border-color: var(--colore-bordo);
          }
          41.6%,
          75% {
            border-color: var(--colore-trattino);
          }
        }
      }

      &[mariadb] {
        animation: colora-bordi-mariadb var(--tempo-animazione) linear infinite;
        @keyframes colora-bordi-mariadb {
          49.9%,
          66.6% {
            border-color: var(--colore-bordo);
          }
          58.3% {
            border-color: var(--colore-trattino);
          }
        }
      }
    }
  }
}

@media screen and (width < 500px) {
  .contenuto {
    --dim-logo: 3rem !important;
    aspect-ratio: initial !important;
    min-height: 10rem;

    ion-icon[animazione][icona-2] {
      top: calc(var(--dim-logo) / 8);
    }
  }
}
