<h4 class="testo-gradient"> Sviluppo PHP</h4>
<div class="flex-row">
    <span>
        <p>
            Usato con
            <span class="testo-gradient">XAMPP</span>
             per presentare le pagine attraverso
            il Server-Side Rendering (<span class="testo-gradient">SSR</span>) o, 
            in aggiunta, per la creazione di
            <span class="testo-gradient">API</span>
            con servizi PHP.
        </p>
        <p style="margin-top: calc(var(--gap) / 4)">    
            Usando quest'ultimi per potersi
            interfacciare ad un database gestito da  
            <span class="testo-gradient">MariaDB</span>, 
            un fork di
            <span class="testo-gradient">MySQL</span>.
        </p>
    </span>
    <hr />
    <div class="contenuto flex-col">
        <div class="logo" xampp>
            <img src="https://www.bosio.zip/assets/img/loghi/xampp.webp" alt="X" title="XAMPP">
        </div>
        <div class="logo" utente>
            <ion-icon name="person" />
        </div>
        <div class="logo" php>
            <img src="https://www.bosio.zip/assets/img/loghi/php.webp" alt="P" title="PHP">
        </div>
        <div class="logo" mariadb>
            <img src="https://www.bosio.zip/assets/img/loghi/mariadb.webp" alt="M" title="MariaDB">
        </div>

        <hr orizzontale />
        <hr orizzontale/>
        <hr verticale />

        <ion-icon name="help-circle" animazione icona-1></ion-icon>
        <ion-icon name="information-circle" animazione icona-2></ion-icon>
        <ion-icon name="help-circle" animazione icona-3></ion-icon>
        <ion-icon name="server" animazione icona-4></ion-icon>
        <ion-icon name="document-text" animazione icona-5></ion-icon>
        <ion-icon name="document-text" animazione icona-6></ion-icon>
    </div>
</div>