<h3 class="testo-gradient">Sviluppo PHP</h3>
<div class="flex gap-8 grow">
  <span>
    <p>
      Usato con
      <span class="testo-gradient">XAMPP</span>
      per presentare le pagine attraverso il Server-Side Rendering (<span
        class="testo-gradient"
        >SSR</span
      >) o, in aggiunta, per la creazione di
      <span class="testo-gradient">API</span>
      con servizi PHP.
    </p>
    <p class="mt-2">
      Usando quest'ultimi per potersi interfacciare ad un database gestito da
      <span class="testo-gradient">MariaDB</span>, un fork di
      <span class="testo-gradient">MySQL</span>.
    </p>
  </span>
  <hr class="border-neutral-800 border-l-2 h-auto" />
  <div class="relative flex flex-col mt-0 min-w-40 aspect-square contenuto">
    <div class="z-2 absolute bg-neutral-950 p-3 border-2 rounded-xl logo" xampp>
      <img
        src="https://www.bosio.zip/assets/img/loghi/xampp.webp"
        alt="X"
        title="XAMPP"
        loading="lazy"
      />
    </div>
    <div
      class="right-0 z-2 absolute flex bg-neutral-950 p-2 border-2 rounded-xl aspect-square logo"
      utente
    >
      <ion-icon name="person" class="m-auto text-[2.5rem]" />
    </div>
    <div
      class="bottom-0 z-2 absolute bg-neutral-950 p-2 border-2 rounded-xl logo"
      php
    >
      <img
        src="https://www.bosio.zip/assets/img/loghi/php.webp"
        alt="P"
        title="PHP"
        loading="lazy"
      />
    </div>
    <div
      class="right-0 bottom-0 z-2 absolute bg-neutral-950 p-2 border-2 rounded-xl logo"
      mariadb
    >
      <img
        src="https://www.bosio.zip/assets/img/loghi/mariadb.webp"
        alt="M"
        title="MariaDB"
        loading="lazy"
      />
    </div>

    <hr orizzontale class="absolute border-t-2 border-dashed" />
    <hr orizzontale class="absolute border-t-2 border-dashed" />
    <hr verticale class="absolute border-l-2 border-dashed h-auto" />

    <ion-icon
      name="help-circle"
      class="absolute -translate-y-1/2"
      animazione
      icona-1
    ></ion-icon>
    <ion-icon
      name="information-circle"
      class="absolute -translate-x-1/2"
      animazione
      icona-2
    ></ion-icon>
    <ion-icon
      name="help-circle"
      class="absolute translate-y-1/2"
      animazione
      icona-3
    ></ion-icon>
    <ion-icon
      name="server"
      class="absolute scale-[0.85] origin-center translate-y-1/2"
      animazione
      icona-4
    ></ion-icon>
    <ion-icon
      name="document-text"
      class="absolute scale-[0.85] origin-center -translate-x-1/2"
      animazione
      icona-5
    ></ion-icon>
    <ion-icon
      name="document-text"
      class="absolute scale-[0.85] origin-center -translate-y-1/2"
      animazione
      icona-6
    ></ion-icon>
  </div>
</div>
