.contenuto{
    --dim-logo: 6rem;
    --tempo-animazione: 30s;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .logo{
        border: 2px solid var(--colore-bordo);
        padding: .5rem;
        z-index: 2;

        &:hover{
            border-color: #FFFA;
        }
    }

    .linea{
        width: calc(100% - var(--dim-logo));
        border-top: 2px dashed var(--colore-bordo);
    }

    ion-icon{
        font-size: 1.5rem;
        color: #999;
    }

    [avanti]{
        position: absolute;
        top: calc(var(--dim-logo) / 4);
        left: calc(var(--dim-logo) / 2);
        
        &:is(ion-icon){
            transform: translate(-50%, -50%);
            animation: muovi var(--tempo-animazione) linear infinite;
        }
    }

    [indietro]{
        position: absolute;
        bottom: calc(var(--dim-logo) / 4);
        right: calc(var(--dim-logo) / 2);

        &:is(ion-icon){
            transform: translate(-50%, 50%);
            right: auto;
            left: calc(100% - var(--dim-logo) / 2);
            animation: muovi var(--tempo-animazione) linear infinite reverse;
        }
    }

    @keyframes muovi {
        0% { left: calc(var(--dim-logo) / 2); }
        100% { left: calc(100% - var(--dim-logo) / 2); }
    }
}