<h4 class="testo-gradient">Sviluppo ASPX & .NET</h4>
<p>
    Creazione di applicazioni web con 
    <span class="testo-gradient">ASPX</span> e 
    <span class="testo-gradient">.NET</span> 
    per lo sviluppo di pagine dinamiche, 
    utilizzando 
    <span class="testo-gradient">C#</span> 
    per la logica server-side.
</p>
<p>
    Usando
    <span class="testo-gradient">ADO.NET</span> 
    per l'interazione con il database e 
    <span class="testo-gradient">Entity Framework</span> 
    come ORM per l'accesso ai dati.
</p>
<div class="contenuto flex-row">
    <div class="linea" avanti></div>
    <div class="linea" indietro></div>

    <ion-icon name="chevron-forward-circle" avanti></ion-icon>
    <ion-icon name="chevron-back-circle" indietro></ion-icon>

    <div class="logo" title=".NET">
        <img src="https://www.bosio.zip/assets/img/loghi/dotnet.webp" alt="D" loading="lazy">
    </div>
    <div class="logo" title="C#">
        <img src="https://www.bosio.zip/assets/img/loghi/c_sharp.webp" alt="C" loading="lazy">
    </div>
    <div class="logo" title="ASPNET">
        <img src="https://www.bosio.zip/assets/img/loghi/aspnet.webp" alt="A" loading="lazy">
    </div>
</div>