.contenuto {
  --dim-logo: 6rem;
  --tempo-animazione: 30s;
  .logo:hover {
    border-color: #fffa;
  }

  .linea {
    width: calc(100% - var(--dim-logo));
  }

  ion-icon {
    font-size: var(--testo-l);
    color: var(--grigio-9);
  }

  [avanti] {
    top: calc(50% - var(--dim-logo) / 4);
    left: calc(var(--dim-logo) / 2);

    &:is(ion-icon) {
      animation: muovi var(--tempo-animazione) linear infinite;
    }
  }

  [indietro] {
    bottom: calc(50% - var(--dim-logo) / 4);
    right: calc(var(--dim-logo) / 2);

    &:is(ion-icon) {
      left: calc(100% - var(--dim-logo) / 2);
      animation: muovi var(--tempo-animazione) linear infinite reverse;
    }
  }

  @keyframes muovi {
    0% {
      left: calc(var(--dim-logo) / 2);
    }
    100% {
      left: calc(100% - var(--dim-logo) / 2);
    }
  }
}

@media screen and (width < 500px) {
  .contenuto {
    --dim-logo: 3rem !important;
  }
}
