<h3 class="testo-gradient">Sviluppo ASPX & .NET</h3>
<p>
  Creazione di applicazioni web con
  <span class="testo-gradient">ASPX</span> e
  <span class="testo-gradient">.NET</span>
  per lo sviluppo di pagine dinamiche, utilizzando
  <span class="testo-gradient">C#</span>
  per la logica server-side.
</p>
<p>
  Usando
  <span class="testo-gradient">ADO.NET</span>
  per l'interazione con il database e
  <span class="testo-gradient">Entity Framework</span>
  come ORM per l'accesso ai dati.
</p>
<div class="relative flex flex-wrap grow contenuto">
  <div
    class="absolute border-neutral-800 border-t-2 border-dashed linea"
    avanti
  ></div>
  <div
    class="absolute border-neutral-800 border-t-2 border-dashed linea"
    indietro
  ></div>

  <ion-icon
    class="absolute -translate-1/2"
    name="chevron-forward-circle"
    avanti
  ></ion-icon>
  <ion-icon
    class="absolute -translate-x-1/2 translate-y-1/2"
    name="chevron-back-circle"
    indietro
  ></ion-icon>

  <div
    class="z-2 bg-neutral-950 my-auto p-2 border-2 border-neutral-800 rounded-xl logo"
    title=".NET"
  >
    <img
      src="https://www.bosio.zip/assets/img/loghi/dotnet.webp"
      alt="D"
      loading="lazy"
    />
  </div>
  <div
    class="z-2 bg-neutral-950 m-auto p-2 border-2 border-neutral-800 rounded-xl logo"
    title="C#"
  >
    <img
      src="https://www.bosio.zip/assets/img/loghi/c_sharp.webp"
      alt="C"
      loading="lazy"
    />
  </div>
  <div
    class="z-2 bg-neutral-950 my-auto p-2 border-2 border-neutral-800 rounded-xl logo"
    title="ASPNET"
  >
    <img
      src="https://www.bosio.zip/assets/img/loghi/aspnet.webp"
      alt="A"
      loading="lazy"
    />
  </div>
</div>
