<Header
  [sezione-corrente]="sezioneCorrente()"
  (onNaviga)="sezioneCorrente.set($event)"
  class="flex-col"
></Header>
<SezionePrincipale id="principale" class="flex-col espandi" />

@defer (on viewport; prefetch on idle) {
<SezioneConoscenze id="conoscenze" class="espandi" />
} @placeholder {
<section id="conoscenze" class="espandi placeholder-sezione" aria-hidden="true">
  <span class="placeholder-scheletro" aria-hidden="true"></span>
</section>
} @defer (on viewport; prefetch on idle) {
<SezioneProgetti id="progetti" class="flex-col espandi" />
} @placeholder {
<section
  id="progetti"
  class="flex-col espandi placeholder-sezione"
  aria-hidden="true"
>
  <span class="placeholder-scheletro" aria-hidden="true"></span>
</section>
} @defer (on idle) {
<FooterContatti id="contatti" />
} @placeholder {
<section id="contatti" class="placeholder-footer" aria-hidden="true">
  <span class="placeholder-scheletro" aria-hidden="true"></span>
</section>
}
<svg xmlns="http://www.w3.org/2000/svg">
  <mask id="maschera-cornice">
    <rect x="0" y="0" width="100%" height="100%" fill="#FFF" />
    <rect interno fill="#000" #interno />
  </mask>
</svg>
<div class="overlay-iniziale">
  <div class="rettangolo-bordo"></div>
</div>
