:host{
    display: grid;
    grid-template-rows: repeat(5, auto);
    // justify-content: center;
    align-items: flex-start;
    color: #FFF;

    --w-contenuto-pagina: 1280px;
    --bordo: 7.5rem;
}

:host{
    z-index: 0;
    border-radius: 1rem;
    position: relative;

    & > .espandi{
        min-height: 100dvh;
    }
}

svg{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;

    mask rect[interno]{
        animation: ingrandisci 1ms var(--easing);
        animation-timeline: scroll(block nearest);
    }

    @keyframes ingrandisci {
        0%{
            width: calc(100% - var(--bordo) * 2);
            height: calc(100% - var(--bordo) * 2);
            x: var(--bordo);
            y: var(--bordo);
            rx: 1rem;
            ry: 1rem;
        }
        38%, 100%{
            width: 100%;
            height: 100%;
            x: 0;
            y: 0;
            rx: 0;
            ry: 0;
        }
    }
}

.overlay-iniziale{
    position: fixed;
    inset: 0;
    background-color: #0b0b0bAA;
    backdrop-filter: blur(.25rem);
    z-index: 10;
    mask-image: url(#maschera-cornice);
    pointer-events: none;

    .rettangolo-bordo{
        position: fixed;
        inset: calc(var(--bordo) - 2px);
        border-radius: 1rem;
        background-color: var(--colore-bordo);
        animation: scala 1ms var(--easing);
        animation-timeline: scroll(block nearest);

        @keyframes scala {
            38%, 100%{
                inset: 0;
                border-radius: 0;
            }
        }
    }
}

@media (max-aspect-ratio: 1/1) {
    svg, .overlay-iniziale{
        display: none;
    }   
    
    .espandi{
        min-height: 100lvh !important;
    }
}