<button class="opzione flex-row" (click)="Seleziona($event, sezioni.Sviluppo)" #sviluppo>
    <ion-icon name="hardware-chip-outline"></ion-icon>
    <span>Sviluppo</span>
</button>
<button class="opzione flex-row selezionato" (click)="Seleziona($event, sezioni.Web)" #web>
    <ion-icon name="globe-outline"></ion-icon>
    <span>Web</span>
</button>
<button class="opzione flex-row" (click)="Seleziona($event, sezioni.Certificazioni)" #certificazioni>
    <ion-icon name="ribbon-outline"></ion-icon>
    <span>Certificazioni</span>
</button>

<div class="cella" #cella></div>