:host {
  border: 2px solid var(--colore-bordo);
  background-color: #0b0b0b50;
}

.opzione {
  color: #ededed;
  transition: color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

  ion-icon {
    font-size: var(--testo-m);
  }

  &.selezionato {
    color: #000;
    background-color: #ededed;

    &.anima {
      animation: seleziona 0.5s;
    }
  }

  @keyframes seleziona {
    0%,
    99.9999% {
      background-color: #0000;
    }
    100% {
      background-color: #ededed;
    }
  }
}

.cella {
  transition: 0.5s var(--easing);
  transition-property: left, width;
  background-color: #ededed;
}

@media screen and (width < 500px) {
  :host {
    width: 100%;
    margin-top: 0 !important;
  }

  button {
    padding: 0.75rem !important;
    font-size: 0.875rem !important; // media

    &:first-child {
      padding-right: 0.375rem !important;
    }

    &:nth-child(2) {
      padding-inline: 0.375rem !important;
    }

    &:last-child {
      padding-left: 0.375rem !important; // media
    }
  }
}
