<button
  class="flex-row opzione"
  (click)="Seleziona(sezioni.Sviluppo)"
  [class.selezionato]="sezioneCorrente === sezioni.Sviluppo"
  aria-label="Sviluppo"
>
  <ion-icon name="hardware-chip-outline"></ion-icon>
  <span>Sviluppo</span>
</button>
<button
  class="flex-row opzione"
  (click)="Seleziona(sezioni.Web)"
  [class.selezionato]="sezioneCorrente === sezioni.Web"
  aria-label="Web"
>
  <ion-icon name="globe-outline"></ion-icon>
  <span>Web</span>
</button>
<button
  class="flex-row opzione"
  (click)="Seleziona(sezioni.Certificazioni)"
  [class.selezionato]="sezioneCorrente === sezioni.Certificazioni"
  aria-label="Certificazioni"
>
  <ion-icon name="ribbon-outline"></ion-icon>
  <span>Certificazioni</span>
</button>
