:host {
  background-color: var(--nero-h1);
}

.filtro {
  background-color: #0b0b0bda;
}

svg {
  width: min(100vw, 100vh);

  circle {
    animation: scompari 4s infinite;
  }

  @keyframes scompari {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25% {
      opacity: var(--opacita);
    }
  }
}
