:host{
    background-color: var(--nero-h1);
    z-index: -1;
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
}

.filtro{
    backdrop-filter: blur(1.5rem);
    background-color: #0b0b0bDA;
    position: absolute;
    inset: 0;
    z-index: 1;
    transform-origin: center;
}

svg{
    position: absolute;
    z-index: 0;
    overflow: visible;
    width: min(100vw, 100vh);
    
    circle{
        fill:#FFF0;
        stroke:#FFFE;
        animation: scompari 4s infinite;
    }
    
    @keyframes scompari {
        0%, 50%, 100%{
            opacity: 1;
        }
        25%{
            opacity: var(--opacita);
        }
    }
}