.contenuto-griglia{
    flex-grow: 1;
    gap: var(--gap);

    & > .flex-row{
        flex-grow: 1;
        gap: var(--gap);
    }
}


.card{
    flex-grow: 1;

    &:hover {
        background-color: #1a1a1a33;
    
        &::before{
            opacity: 1;
        }
    }
    
    &::before{
        content: "";
        position: absolute;
        inset: 0;
        z-index: 3;
        opacity: 0;
        pointer-events: none;
        transition: opacity 500ms;
        background: radial-gradient(
            40rem circle at var(--mouse-x) var(--mouse-y), 
            #FFFFFF05,
            transparent 90%
        );
    }
    
    &.grande{
        max-width: calc(50% - var(--gap) / 2);
    }

    // Stili generali per le card
    &::ng-deep{
        h4{
            font-size: 1.5rem;
        }
        
        p{
            color: var(--colore-p);
            text-wrap: pretty;
            line-height: 1.5;

            .testo-gradient{
                font-weight: bold;
            }
        }
        
        .contenuto{
            --dim-logo: 4rem;
            margin-top: 1rem;
            flex-grow: 1;
            gap: 1rem;
            flex-wrap: wrap;
            
            .logo{
                border-radius: .5rem;
                height: var(--dim-logo);
                aspect-ratio: 1;
                background-color: #0b0b0b;
                transition: background-color .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
                
                img, ion-icon{
                    height: 100%;
                    width: 100%;
                }

                ion-icon{
                    transform-origin: center;
                    scale: .8;
                }
                
                &:hover{
                    background-color: #1a1a1a;
                }
            }
        }
    }
}