.contenuto-griglia{
    flex-grow: 1;
    flex-wrap: wrap;
    gap: var(--gap);
}


.card{
    --colore-p: #999;
    gap: .5rem;
    padding: 2rem;
    flex-grow: 1;
    border-radius: 1rem;
    border: 2px solid var(--colore-bordo);
    backdrop-filter: blur(.25rem);
    background-color: #0b0b0b33;
    transition: background-color .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    min-width: calc(33% - var(--gap));

    &:hover {
        background-color: #1a1a1a33;
    
        &::before{
            opacity: 1;
        }
    }
    
    &::before{
        content: "";
        position: absolute;
        inset: 0;
        z-index: 3;
        opacity: 0;
        pointer-events: none;
        transition: opacity 500ms;
        background: radial-gradient(
            40rem circle at var(--mouse-x) var(--mouse-y), 
            #FFFFFF05,
            transparent 90%
        );
    }
    
    &.grande{
        width: calc(50% - var(--gap) / 2);
    }


    &.lunga{
        max-width: calc(66% - var(--gap) / 2);
    }

    // Stili generali per le card
    &::ng-deep{
        h4{
            font-size: 1.5rem;
        }
        
        p{
            color: var(--colore-p);
            text-wrap: pretty;
            
            .testo-gradient{
                font-weight: bold;
            }
        }
        
        .contenuto{
            --dim-logo: 4rem;
            margin-top: 1rem;
            flex-grow: 1;
            gap: 1rem;
            flex-wrap: wrap;
            
            .logo{
                border-radius: .5rem;
                height: var(--dim-logo);
                aspect-ratio: 1;
                background-color: #0b0b0b;
                transition: background-color .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
                
                img{
                    height: 100%;
                    width: 100%;
                }
                
                &:hover{
                    background-color: #1a1a1a;
                }
            }
        }
    }
}