:host{
    display: none;
    z-index: -2;
    background-color: var(--nero-h1);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    overflow: hidden;
    border-radius: inherit;
    animation: entra 1ms var(--easing);
    pointer-events: none;
}

.filtro{
    backdrop-filter: blur(1.5rem);
    background-color: #0b0b0bDA;
    position: absolute;
    inset: 0;
    z-index: 1;
    transform-origin: center;
}

svg{
    position: absolute;
    inset: 0;
    z-index: 0;
    overflow: visible;
    
    circle{
        fill: #0000;
        stroke:#FFFE;
        animation: scompari 4s infinite;
    }
    
    @keyframes scompari {
        0%, 50%, 100%{
            opacity: 1;
        }
        25%{
            opacity: var(--opacita);
        }
    }
}