<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 381 381">
    <defs>
        <radialGradient id="grad" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
            <stop offset="0%" style="stop-color: var(--nero-h1)" />
            <stop offset="99%" style="stop-color: var(--nero-h1)" />
            <stop offset="100%" style="stop-color: #FFF0" />
        </radialGradient>
    </defs>
    <g>
        
        @for (larg of [0, 0, 3, 2, 1]; track $index) {
            <circle 
                cx="190.5" 
                cy="381" 
                [attr.r]="0 + 40 * $index" 
                [style]="{
                    'fill': $index == 1 ? 'url(#grad)' : null,
                    'stroke-width': larg,
                    'animation-delay': $index + 1 + 's',
                    '--opacita': $index ? .85 - $index * .1 : .75
                }" 
            />
        }
    </g>
</svg>
<div class="filtro"></div>