:host {
  background-color: var(--nero-h1);
  border-radius: inherit;
  animation: entra 1ms var(--easing);
}

.filtro {
  background-color: #0b0b0bda;
}

svg {
  circle {
    animation: scompari 4s infinite;
  }

  @keyframes scompari {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25% {
      opacity: var(--opacita);
    }
  }
}
