<div class="contenuto-griglia flex-col" (mousemove)="EffettoMouse($event)">
    <div class="flex-row">
        <div class="card flex-col lunga">
            <h4 class="testo-gradient">Applicazioni Desktop</h4>
            <div class="flex-col">
                <p>
                    Sviluppo di applicazioni desktop con C# sia di tipo 
                    <span class="testo-gradient">Console</span>
                    che con interfaccia grafica.
                    Applicazioni GUI create con
                    <span class="testo-gradient">Windows Form</span>
                    o con 
                    <span class="testo-gradient">UWP</span>
                    per una maggiore compatibilità.
                </p>
            </div>
            <div class="contenuto flex-row"></div>
        </div>
        <div class="card flex-col">
            <h4 class="testo-gradient">Sviluppo SQL</h4>
            <div class="flex-col">
                <p>
                    Sviluppo e gestione di database 
                    <span class="testo-gradient">SQL</span> 
                    utilizzando DBMS tra cui 
                    <span class="testo-gradient">Microsoft SQL Server</span>. 
                    Implementazione di funzionalità avanzate come 
                    <span class="testo-gradient">trigger</span> e 
                    <span class="testo-gradient">stored procedures</span>.
                </p>
            </div>
            <div class="contenuto flex-row"></div>
        </div>
    </div>
    <div class="flex-row">
        <div class="card flex-col">
            <h4 class="testo-gradient">Applicazioni Mobile</h4>
            <div class="flex-col">
                <p>
                    Creazione di applicazione mobile, per 
                    <span class="testo-gradient">Android</span> e 
                    <span class="testo-gradient">iOS</span>, 
                    con un'unico codice sorgente usando piattaforme di sviluppo come  
                    <span class="testo-gradient">Capacitor</span>
                    (in combinazione con 
                    <span class="testo-gradient">Ionic</span>) e 
                    <span class="testo-gradient">Cordova</span>.
                </p>
            </div>
            <div class="contenuto flex-row"></div>
        </div>
        <div class="card flex-col lunga">
            <h4 class="testo-gradient">Progettazione Database</h4>
            <div class="flex-col">
                <p>
                    Progettazione e sviluppo di database utilizzando 
                    <span class="testo-gradient">schemi ER</span> e 
                    <span class="testo-gradient">schemi logici</span>. 
                    Creazione e documentazione di strutture 
                    e relazioni dei dati tramite diagrammi 
                    <span class="testo-gradient">UML</span> 
                    per una chiara rappresentazione e gestione delle informazioni.
                </p>
            </div>
            <div class="contenuto flex-row"></div>
        </div>
    </div>
</div>