
<div class="wrapper flex-row sfondo-trattini">
    <section class="sfondo-trattini flex-col">
        <div>
            <h3 style="--delay: .1s" anima>Ciao, sono</h3>
            <h1 class="testo-gradient" style="--delay: .2s" anima>Pietro Bosio</h1>    
        </div>  
    </section>
    <section class="sfondo-trattini flex-col">
        <h2 class="testo-gradient" style="--delay: .1s" anima>About Me</h2>
        <p style="--delay: .2s" anima>
            Sono un sviluppatore neodiplomato presso l'istituto 
            <a class="testo-gradient" href="http://www.vallauri.edu/" target="_blank">Vallauri</a>, 
            con una grande passione per la programmazione e la tecnologia.
        </p>
        <p style="--delay: .3s" anima>
            Sono competente nello sviluppo di applicazioni 
            <span class="testo-gradient">full-stack</span>, 
            con esperienza in linguaggi di programmazione 
            <span class="testo-gradient">back-end</span> 
            come <span class="testo-gradient">C</span> e 
            <span class="testo-gradient">C#</span>, 
            così come in tecnologie web 
            <span class="testo-gradient">front-end</span> 
            come <span class="testo-gradient">HTML</span>, 
            <span class="testo-gradient">CSS</span> e 
            <span class="testo-gradient">JavaScript</span> (e 
            <span class="testo-gradient">TypeScript</span>).
        <p>
        <button (click)="Scrolla()" style="--delay: .4s" anima>
            <ion-icon name="caret-down-circle"></ion-icon>
            <span class="testo-gradient">Più Informazioni</span>
        </button>  
    </section>
</div>
<SfondoPrincipale/>