:host{
    position: relative;
    height: calc(100dvh - var(--bordo) * 2);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

section{
    position: relative;
    display: grid;
    place-items: center;
    z-index: 0;
}

