:host {
  grid-area: 1 / 1 / 1 / 2;
  max-width: none !important;
}

.wrapper {
  width: calc(100% - var(--bordo) * 2);
  max-width: var(--w-contenuto-pagina);

  &::before {
    display: none;
    z-index: 1;
    mask-image: linear-gradient(#fff 0%, #0002 35%, #0002 65%, #fff 100%);
  }
}

section {
  padding-block: var(--bordo) calc(var(--bordo) / 2);
  color: var(--grigio-a);

  p {
    &.display {
      font-size: var(--testo-s);
    }

    a::before {
      content: "";
      position: absolute;
      inset: auto 0 0 0;
      height: 2px;
      border-radius: 100vh;
      background-image: linear-gradient(to right bottom, #fff 30%, #ffffff80);
    }
  }

  button ion-icon {
    font-size: var(--testo-l);
  }

  [anima] {
    animation: alza-elemento 0.5s var(--easing) var(--delay) forwards;
    transform: translateY(-2rem);
    opacity: 0;
    filter: blur(0.5rem);

    @keyframes alza-elemento {
      0% {
        transform: translateY(2rem);
        opacity: 0;
        filter: blur(0.5rem);
      }
      100% {
        transform: translateY(0);
        opacity: 1;
        filter: blur(0);
      }
    }
  }
}

@media (max-aspect-ratio: 1/1) {
  .wrapper {
    width: 100%;

    section {
      width: clamp(30rem, calc(100% / 3), 40rem);

      p {
        text-wrap: balance;
      }

      &:first-child {
        padding-left: 4rem;
      }
    }
  }
}

@media screen and (width < 1000px) {
  .wrapper {
    flex-direction: column;
    justify-content: center;

    &::before {
      display: block;
    }

    section {
      padding-block: 0;
      width: 100%;

      h1 {
        width: fit-content;
      }

      h2 {
        margin-block: 1rem 0.25rem;
      }

      &:first-child {
        padding-left: 2rem;
      }

      &::before {
        display: none;
      }
    }
  }
}
