<div class="flex-row wrapper sfondo-trattini">
  <section class="flex-col sfondo-trattini">
    <div>
      <h3 style="--delay: 0.1s" anima>Ciao, sono</h3>
      <h1 class="testo-gradient xl" style="--delay: 0.2s" anima>
        Pietro Bosio
      </h1>
    </div>
  </section>
  <section class="flex-col sfondo-trattini">
    <h1 class="testo-gradient" style="--delay: 0.1s" anima>About Me</h1>
    <p class="display" style="--delay: 0.2s" anima>
      Sono un sviluppatore neodiplomato presso l'istituto
      <a class="testo-gradient" href="http://www.vallauri.edu/" target="_blank"
        >Vallauri</a
      >, con una grande passione per la programmazione e la tecnologia.
    </p>
    <p style="--delay: 0.3s" class="display" anima>
      Sono competente nello sviluppo di applicazioni
      <span class="testo-gradient">full-stack</span>, con esperienza in
      linguaggi di programmazione
      <span class="testo-gradient">back-end</span>
      come <span class="testo-gradient">C</span> e
      <span class="testo-gradient">C#</span>, così come in tecnologie web
      <span class="testo-gradient">front-end</span>
      come <span class="testo-gradient">HTML</span>,
      <span class="testo-gradient">CSS</span> e
      <span class="testo-gradient">JavaScript</span> (e
      <span class="testo-gradient">TypeScript</span>).
    </p>

    <p>
      <button
        (click)="Scrolla()"
        style="--delay: 0.4s"
        anima
        aria-label="Maggiori informazioni"
      >
        <ion-icon name="arrow-down"></ion-icon>
        <span class="testo-gradient">Più Informazioni</span>
      </button>
    </p>
  </section>
</div>
<SfondoPrincipale />
