:host{
    --dim-img: clamp(5rem, 30%, 20rem);
    width: calc(100% + 2px);
    overflow: hidden;
    border: 2px solid var(--colore-bordo);
    border-radius: .5rem;
    cursor: pointer;
    transition: background-color .5s var(--easing);
    background-color: #0b0b0bAA;

    &:hover{
        background-color: hsla(0, 0%, 10%, 0.667);
    }
}

.wrapper{
    width: calc(100% + 2px);
    transform: translateX(-2px);
    overflow: hidden;

    .testo{
        padding: 1rem;
        width: calc(100% - var(--dim-img));
    
        h5, h6{
            font-size: inherit;
            font-weight: normal;
            color: #FFF;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            min-width: 0;
        }
    
        h5{
            font-size: 1rem;
            margin-bottom: .5rem;
        }
    
        .link{
            margin-top: .5rem;
            font-size: .875rem;
            gap: .5rem;
            align-items: center;
        
            img{
                height: 1rem;
                aspect-ratio: 1;
            }
        }
    
        p{
            color: var(--grigio-a);
            font-size: .875rem;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    
    .immagine{
        min-width: var(--dim-img);
        background-image: var(--img);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: .25rem 0 0 .25rem;
    }
}