:host {
  --dim-img: clamp(5rem, 30%, 20rem);
  transition: background-color 0.5s var(--easing);
  background-color: #0b0b0baa;

  &:hover {
    background-color: hsla(0, 0%, 10%, 0.667);
  }
}

.wrapper {
  .testo {
    width: calc(100% - var(--dim-img));

    h5,
    h6 {
      font-size: inherit;
    }

    .link {
      font-size: var(--testo-xs);
    }

    p {
      color: var(--grigio-a);
      font-size: var(--testo-xs);
    }
  }

  .immagine {
    min-width: var(--dim-img);
    background-image: var(--img);
  }
}
