:host{
    background-color: rgba(0, 0, 0, 0.3);

    .wrapper{
        position: relative;
        width: 100%;
        max-width: var(--w-contenuto-pagina);
        padding: 2rem;
        margin-inline: auto;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr auto;
        row-gap: 2rem;
        font-size: 2rem;
    }

    .wrapper > *{
        &:not([contatti], [mail]){
            width: 100%;
        }

        &.animato, .animato{
            opacity: 0;
            transform: translateY(1rem);
            filter: blur(.25rem);
        }

        &.animato.appari, .animato.appari{
            animation: mostra-footer .5s var(--easing) forwards;
            animation-delay: calc(var(--delay) * 1s);

            @keyframes mostra-footer {
                to{
                    opacity: 1;
                    transform: translateY(0rem);
                    filter: blur(0rem);
                }
            }
        }
    }
}

h4{
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 1rem;
}

ul{
    list-style: none;
    flex-grow: 1;
    gap: 2rem;

    a{
        filter: none !important;
    }
    
    li{
        display: flex;
        align-items: center;
        gap: .5rem;
        color: var(--grigio-a);

        span{
            font-size: 1.25rem;
            font-weight: 500;
        }

        ion-icon[name="arrow-up"]{
            font-size: 1rem;
            rotate: 45deg;
            transform: translate(-.5ch, .5ch);
        }
    }
}

a{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    
    .logo{
        height: 2rem;
        aspect-ratio: 1;
        opacity: .55;
        transition: opacity .5s var(--easing);
    }

    &:hover {
        .logo{   
            opacity: 1;
        }
    }
}

.sfondo{
    position: absolute;
    inset: 0;
    padding-inline: calc((100% - var(--w-contenuto-pagina)) / 2);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    pointer-events: none;
}

[mail]{
    width: fit-content;
    margin-inline: auto;
    grid-area: 1 / 3 / -2 / 3;
    padding-left: 2rem;

    .testo-gradient{
        display: inline-block;
        transform: translateY(-.25rem);
    }
}

[contatti]{
    width: fit-content;
    margin-inline: auto;
    grid-area: 1 / 1 / 3 / 2;
    padding-right: 2rem;
}

[crediti]{
    justify-content: space-between;
    color: var(--grigio-a);
    gap: 1rem;
    align-items: center;
    grid-area: 3 / 1 / 3 / -1;
    font-size: 1rem;
    padding-inline: calc(100% / 3 / 4);
    translate: -.5rem;

    hr{
        border: none;
        height: 2px;
        border-radius: 100dvh;
        background-color: var(--grigio-a);
        opacity: .55;
        flex-grow: 1;
    }

    .logo, ion-icon{
        height: 1.5rem;
        font-size: 1.7rem;
        margin-left: .5ch;
    }
}

@media screen and (width < 650px) {

    .wrapper, .sfondo{
        grid-template-columns: 1fr 2rem 1fr !important;
    }

    .flex-row.appari{
        padding: 0;
    }

    .flex-col{
        padding: 0;
        margin-inline: 0;

        &:nth-child(1){
            margin-right: auto;
        }

        &:nth-child(2){
            margin-left: auto;
        }
    }
}

@media screen and (width < 450px){
    h4{
        font-size: 1.5rem;
    }

    a{
        gap: .5rem !important;
    }

    img, ion-icon{
        height: 1.5rem !important;
    }
    
    span{
        font-size: 1rem !important;
    }
}