<SfondoFooter />
<div class="wrapper">
    <div class="flex-col" contatti>
        <h2 class="testo-gradient animato">Contatti</h2>
        <ul class="flex-col">
            <li class="animato" style="--delay: .1">
                <a class="brilla" href="mailto:pietro.bosio13@outlook.it">
                    <ion-icon name="mail"></ion-icon>
                    <span>E-Mail</span>
                    <ion-icon name="arrow-up"></ion-icon>
                </a>
            </li>
            <li class="animato" style="--delay: .2">
                <a class="brilla" href="https://github.com/BosioPietro" target="_blank">
                    <ion-icon name="logo-github" class="brilla"></ion-icon>
                    <span>Github</span>
                    <ion-icon name="arrow-up"></ion-icon>
                </a>
            </li>
            <li class="animato" style="--delay: .3">
                <a class="brilla" href="https://www.linkedin.com/in/pietro-bosio-08348a31a/" target="_blank">
                    <ion-icon name="logo-linkedin" class="brilla"></ion-icon>
                    <span>Linkedin</span>
                    <ion-icon name="arrow-up"></ion-icon>
                </a>
            </li>
        </ul>
    </div>

    <div class="flex-col" mail>
        <h2 class="testo-gradient animato">Ispirato Da</h2>
        <ul class="flex-col">
            <li class="animato" style="--delay: .1">
                <a class="brilla" href="https://linear.app/" target="_blank">
                    <img class="logo" src="https://www.bosio.zip/assets/img/loghi/linear.webp" />
                    <span>Linear</span>
                    <ion-icon name="arrow-up"></ion-icon>
                </a>
            </li>
            <li class="animato" style="--delay: .2">
                <a class="brilla" href="https://vercel.com/" target="_blank">
                    <img class="logo" src="https://www.bosio.zip/assets/img/loghi/vercel.webp" />
                    <span>Vercel</span>
                    <ion-icon name="arrow-up"></ion-icon>
                </a>
            </li>
            <li class="animato" style="--delay: .3">
                <a class="brilla" href="https://loops.so/" target="_blank">
                    <img class="logo" src="https://www.bosio.zip/assets/img/loghi/loops.webp" />
                    <span>Loops</span>
                    <ion-icon name="arrow-up"></ion-icon>
                </a>
            </li>
        </ul>
    </div>

    <div class="flex-row animato" crediti style="--delay: .4">
        <div class="flex-row">
            Creato con
            <a href="https://angular.dev/" target="_blank" class="brilla">
                <img class="logo" src="https://www.bosio.zip/assets/img/loghi/angular.webp" angular />
            </a>
        </div>
        <hr>
        <div class="flex-row">
            Hostato su
            <a href="https://pages.github.com/" target="_blank" class="brilla">
                <ion-icon name="logo-github"></ion-icon>
            </a>
        </div>
    </div>
    <div class="sfondo" #sfondo>
        <div class="sfondo-trattini"></div>
        <br>
        <div class="sfondo-trattini"></div>
    </div>
</div>