:root {
  --colore-bordo: #fff2;
  --nero-h1: #0b0b0b;

  // per i bordi delle immagini che
  // vengono re-invertiti
  --bianco-inverti: #fff;
  --nero-inverti: #000;

  --grigio-a: #aaa;
  --grigio-9: #999;
  --grigio-8: #888;
  --grigio-4: #444;
  --grigio-3: #333;
  --grigio-2: #222;
  --grigio-1: #111;

  --testo-xxxl: clamp(4rem, 8vw, 5.5rem);
  --testo-xxl: clamp(2.3rem, 5vw, 3.5rem);
  --testo-xl: clamp(1.8rem, 3vw, 2rem);
  --testo-l: 1.66rem;
  --testo-m: 1.25rem;
  --testo-s: clamp(0.9rem, 3vw, 1.125rem);
  --testo: 1rem;
  --testo-xs: 0.875rem;

  --easing: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "DM Sans";
  src: url("/assets/font/DMSans.woff2") format("woff2");
}

html {
  // offsetta il sito per essere ottimizzato per il ~1080p
  font-size: 80%;

  &.chiaro {
    --bianco-inverti: #000;
    --nero-inverti: #fff;
    --colore-bordo: #fff3;

    filter: invert(1);

    .immagine {
      filter: invert(1);
    }
  }
}

@media (orientation: landscape) and (width >=2500px) {
  html {
    font-size: 100%;
  }
}

body {
  background-color: #000;
  scroll-behavior: smooth;
  min-height: 200vh;

  &:has(.menu-header.aperto, dialog[open]) {
    overflow: hidden;
  }
}

::selection {
  background-color: #8883;
  color: var(--grigio-9);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

// ! ICONE
ion-icon svg {
  opacity: 1;
  filter: blur(0);
  transition: opacity 0.3s ease, filter 0.3s ease;

  @starting-style {
    opacity: 0;
    filter: blur(0.5rem);
  }
}

ion-icon [filled] svg {
  fill: currentColor;
}

//! TESTO

h1 {
  font-size: var(--testo-xxl);

  &.xl {
    font-size: var(--testo-xxxl);
    font-weight: 900;
  }
}

h2 {
  font-size: var(--testo-xl);
  font-weight: 600;
}

.sottotitolo {
  font-weight: 400;
  font-size: var(--testo-s);
  color: var(--grigio-9);
}

h3 {
  font-size: var(--testo-l);
}

h4 {
  font-size: var(--testo-m);
}

h5 {
  font-size: var(--testo-s);
}

p {
  text-wrap: pretty;
  font-size: var(--testo);
}

.testo-gradient {
  background: linear-gradient(to right bottom, #fff 30%, #ffffff80);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

//! CLASSI ED ELEMENTI VARI

a[href^="#"] {
  text-decoration: none;
  color: inherit;
}

button {
  border: 2px solid var(--colore-bordo);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  color: inherit;
  font: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-out;
  transition-property: color, border-color, filter;
  cursor: pointer;
  background-color: #0b0b0b44;
  background-position-x: center;
  filter: drop-shadow(0 0 0.5rem #fff1);

  &:hover {
    border-color: #fff6;
    color: #fff;
    filter: drop-shadow(0 0 1rem #ffffff27);
  }
}

[class*="flex-"] {
  display: flex;

  &.flex-col {
    flex-direction: column;
  }
}

.scrollbar-nascosta {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.scrollbar-stile {
  overscroll-behavior: contain;

  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--colore-bordo);
    border-radius: 100dvh;

    &:hover {
      background-color: #fff4;
    }
  }
}

.no-transizione {
  transition: none !important;
}

.sfondo-trattini {
  position: relative;
  background-color: #0000;

  &::before {
    content: "";
    --trattino: url("data:image/svg+xml;base64,PHN2Zw0KICAgdmlld0JveD0iMCAwIDY0IDUzIg0KICAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCgk8Zz4NCgkJPHBhdGgNCiAgICAgICAJCQlzdHlsZT0ic3Ryb2tlOiMzMzM7c3Ryb2tlLXdpZHRoOjY7c3Ryb2tlLWxpbmVjYXA6cm91bmQiDQogICAgICAgCQkJZD0iTSAzLDE0IFYgMzciDQogICAgIAkJLz4NCgk8L2c+DQo8L3N2Zz4=");
    position: absolute;
    pointer-events: none;
    inset: 0;
    z-index: -1;
    opacity: 0.5;
    background-image: var(--trattino);
    background-size: 1.5rem;
  }
}

hr.linea-luce {
  height: 2px;
  background-color: #fff2;
  position: absolute;
  inset: -2px 0 auto 0;
  border: 0;
  z-index: 0;
  overflow: visible;

  &::before {
    content: "";
    --width: 60dvw;
    height: 2px;
    width: var(--width);
    margin-inline: auto;
    position: absolute;
    left: calc(50% - var(--width) / 2);
    background: linear-gradient(90deg, #0000 0%, #8f8f8fab 50%, #0000 100%);
    pointer-events: none;
  }

  &::after {
    content: "";
    --width: 60dvw;
    height: 2px;
    top: 0;
    width: var(--width);
    height: var(--width);
    margin-inline: auto;
    position: absolute;
    left: calc(50% - var(--width) / 2);
    transform: translateY(-50%);
    clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
    background: conic-gradient(from 90deg at 50% 50%, #0000 50%, #000 50%),
      radial-gradient(#c8c8c81a 0%, #0000 70%);
    pointer-events: none;
  }
}

.brilla {
  transition: 0.5s var(--easing);
  transition-property: color, filter;
  filter: drop-shadow(0 0 1rem #7770);
  cursor: pointer;

  &:hover {
    filter: drop-shadow(0 0 1rem #777f);
    color: #fff;
  }
}

#progetto {
  span.testo-gradient {
    font-weight: bold;
    white-space: nowrap;
  }

  a {
    color: #fff;
  }

  code {
    display: inline-flex;
    font-family: monospace;
    color: #ccc;
    background-color: var(--grigio-2);
    padding: 0.1rem 0.33rem;
    border-radius: 0.25rem;
  }
}
