:root{
    --colore-bordo: #FFF2; 
    --nero-h1: #0b0b0b;

    // per i bordi delle immagini che 
    // vengono re-invertiti
    --bianco-inverti: #FFF;
    --nero-inverti: #000;

    --grigio-a: #AAA;
    --grigio-9: #999;
    --grigio-8: #888;
    --grigio-4: #444;
    --grigio-3: #333;
    --grigio-2: #222;
    --grigio-1: #111;
    

    --easing: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html.chiaro{
    --bianco-inverti: #000;
    --nero-inverti: #FFF;
    --colore-bordo: #FFF3; 

    filter: invert(1);
    
    .immagine{
        filter: invert(1);
    }
}

body{
    min-height: 100dvh;
    min-width: 100dvw;
    background-color: #000;
    scroll-behavior: smooth;
}

::selection{
    background-color: #8883;
    color: var(--grigio-9);
}

[class*="flex-"]{
    display: flex;

    &.flex-col{
        flex-direction: column;
    }
}

.scrollbar-nascosta{
    -ms-overflow-style: none;
    scrollbar-width: none;
    
    &::-webkit-scrollbar {
        display: none;
    }
}

.scrollbar-stile {
    overscroll-behavior: contain;

    &::-webkit-scrollbar {
        width: .5rem;
        height: .5rem;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--colore-bordo);
        border-radius: 100dvh;

        &:hover{
            background-color: #FFF4;
        }
    }
}

h1{
    font-size: 3.5rem;
}

p{
    text-wrap: pretty;
}

a[href^="#"] {
    text-decoration: none;
    color: inherit;       
}

button{
    background-color: transparent;
    border: 2px solid var(--colore-bordo);
    border-radius: .5rem;
    padding: 1rem 2rem;
    color: inherit;
    font: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease-out;
    transition-property: color, border-color, filter;
    cursor: pointer;
    background-color: #0b0b0b44;
    background-position-x: center;
    filter: drop-shadow(0 0 .5rem #FFF1);


    &:hover{
        border-color: #FFF6;
        color: #FFF;
        filter: drop-shadow(0 0 1rem #FFFFFF27);
    }
}

.testo-gradient{
    background: linear-gradient(to right bottom,#FFF 30%,#FFFFFF80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;  
}

.no-transizione{
    transition: none !important;
}

.sfondo-trattini{
    position: relative;
    background-color: #0000;

    &::before{
        content: '';
        --trattino: url("data:image/svg+xml;base64,PHN2Zw0KICAgdmlld0JveD0iMCAwIDY0IDUzIg0KICAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCgk8Zz4NCgkJPHBhdGgNCiAgICAgICAJCQlzdHlsZT0ic3Ryb2tlOiMzMzM7c3Ryb2tlLXdpZHRoOjY7c3Ryb2tlLWxpbmVjYXA6cm91bmQiDQogICAgICAgCQkJZD0iTSAzLDE0IFYgMzciDQogICAgIAkJLz4NCgk8L2c+DQo8L3N2Zz4=");
        position: absolute;
        inset: 0;
        z-index: -1;
        opacity: .5;
        background-image: var(--trattino);
        background-size: 1.5rem;
    }
}

hr.linea-luce{
    height: 2px;
    background-color: #FFF2;
    position: absolute;
    inset: -2px 0 auto 0;
    border: 0;
    z-index: 0;
    overflow: visible;

    &::before {
        content: '';
        --width: 60dvw;
        height: 2px;
        width: var(--width);
        margin-inline: auto;
        position: absolute;
        left: calc(50% - var(--width) / 2);
        background: linear-gradient(90deg, #0000 0%, #8F8F8FAB 50%, #0000 100%);
    }

    &::after {
        content: '';
        --width: 60dvw;
        height: 2px;
        top: 0;
        width: var(--width);
        height: var(--width);
        margin-inline: auto;
        position: absolute;
        left: calc(50% - var(--width) / 2);
        transform: translateY(-50%);
        clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
        background: conic-gradient(from 90deg at 50% 50%, #0000 50%, #000 50%),
            radial-gradient(#C8C8C81A 0%, #0000 70%);
    }
}

.brilla{
    transition: .5s var(--easing);
    transition-property: color, filter;
    filter: drop-shadow(0 0 1rem #7770);
    cursor: pointer;
    
    &:hover{
        filter: drop-shadow(0 0 1rem #777F);
        color: #FFF;
    }
}

#progetto{

    span.testo-gradient{
        font-weight: bold;
        white-space: nowrap;
    }

    a{
        color: #FFF;
    }

    code{
        display: inline-flex;
        font-family: monospace;
        color: #CCC;
        background-color: var(--grigio-2);
        padding: .1rem .33rem;
        border-radius: .25rem;
    }
}