:host{
    display: none;
    z-index: -2;
    background-color: #0b0b0b;
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    overflow: hidden;
    border-radius: inherit;
}

.filtro{
    backdrop-filter: blur(1.5rem);
    background-color: #0b0b0bDA;
    position: absolute;
    inset: 0;
    z-index: 1;
    transform-origin: center;
}

svg{
    position: absolute;
    inset: 0;
    z-index: 0;
    overflow: visible;
    
    circle{
        fill: #0000;
        stroke:#FFFE;
    }
}