:host{
    display: none;
    z-index: -2;
    background-color: #0b0b0b;
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    overflow: hidden;
    border-radius: inherit;

    animation: mostra-cerchi 10s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    animation-timeline: view(y);
}

@property --dim-cerchi{
    initial-value: 65%;
    inherits: true;
    syntax: '<percentage>';
}

.filtro{
    backdrop-filter: blur(1.5rem);
    background-color: #0b0b0bDA;
    position: absolute;
    inset: 0;
    z-index: 1;
    transform-origin: center;
}

svg{
    position: absolute;
    inset: 0;
    z-index: 0;
    overflow: visible;
    

    &:nth-of-type(1) g{
        transform-origin: 0% 0%;
    }

    &:nth-of-type(2) g{
        transform-origin: 100% 100%;
    }

    g{
        scale: var(--dim-cerchi);

        circle{
            fill: #0000;
            stroke:#FFFE;
        }
    }
}

@keyframes mostra-cerchi {
    0%, 100%{
        --dim-cerchi: 65%;
        opacity: 0;
    }
    50%{
        --dim-cerchi: 100%;
        opacity: 1;
    }
}