:host{
    position: relative;
    flex-grow: 1;
    overflow-y: auto;
    scrollbar-gutter: stable both-edges;
    opacity: calc(var(--progresso-progetti) / 100);
    filter: blur(calc((1 - var(--progresso-progetti) / 100) * 1rem));
    // translate: 0 calc((1 - var(--progresso-progetti) / 100) * 5rem);
}

.testo{
    position: absolute;
    margin-inline: calc(var(--gap) / 8);
    gap: calc(var(--gap) / 2);

    article:last-child{
        margin-bottom: 1rem;
    }

    article > *{
        animation: alza-testo .5s var(--easing) forwards;
        animation-delay: calc(var(--delay) * 1s);
        transform: translateY(3rem);
        opacity: 0;
        will-change: opacity, transform;

        @keyframes alza-testo {
            to{
                transform: translateY(0);
                opacity: 1;
            }
        }
    }


    &.transizione article > *{
        animation: abbassa-testo .25s var(--easing) forwards;
        opacity: 1;
        transform: translateY(0);
        will-change: opacity, transform;

        @keyframes abbassa-testo {
            to{
                transform: translateY(-1.5rem);
                opacity: 0;
            }
        }
    }


    h4{
        &:not(:first-of-type){
            margin-top: calc(var(--gap) / 2);
        }
    }

    p{
        color: var(--grigio-9);
        text-wrap: balance;
        line-height: 1.25;

        & + p{
            margin-top: .5rem;
        }
    }
}

@media screen and (width < 500px){
    h3{
        font-size: 1.5rem !important; // media
    }

    p{
        font-size: .875rem !important; // media
    }
}