<div class="testo flex-col">
    @if(resettaFor){
        <article>
            <h3 class="testo-gradient" style="--delay: 0">Descrizione</h3>
            @for (p of progettoSelezionato.introduzione; track $index) {
                <p [innerHTML]="TraduciHtml(p)" style="--delay: 0"></p>
            }
        </article>
        <article>
            <h3 class="testo-gradient" style="--delay: .1">Funzionalità</h3>
            @for (f of progettoSelezionato.funzionalita; track $index; let i = $index) {
                <h4 class="testo-gradient" [style]="{'--delay': (i + 1) / 10}">
                    {{ f.titolo }}
                </h4>
                @for (p of f.testo; track $index) {
                    <p [innerHTML]="TraduciHtml(p)" [style]="{'--delay': (i + 1) / 10}"></p>
                }
            }
        </article>
    }
</div>
<div class="testo flex-col transizione">
    @if(progettoPrecedente){
        <article>
            <h3 class="testo-gradient" style="--delay: 0">Descrizione</h3>
            @for (p of progettoPrecedente.introduzione; track $index) {
                <p [innerHTML]="TraduciHtml(p)" style="--delay: 0"></p>
            }
        </article>
        <article>
            <h3 class="testo-gradient" style="--delay: .1">Funzionalità</h3>
            @for (f of progettoPrecedente.funzionalita; track $index; let i = $index) {
                <h4 class="testo-gradient" [style]="{'--delay': (i + 1) / 10}">
                    {{ f.titolo }}
                </h4>
                @for (p of f.testo; track $index) {
                    <p [innerHTML]="TraduciHtml(p)" [style]="{'--delay': (i + 1) / 10}"></p>
                }
            }
        </article>
    }
</div>